$/angle:bytype1 @/angle:OPLSAA/43-42-43 $/atom:solvent[0]/H2 $/atom:solvent[0]/O1 $/atom:solvent[0]/H3
$/angle:bytype2 @/angle:OPLSAA/43-42-43 $/atom:solvent[1]/H2 $/atom:solvent[1]/O1 $/atom:solvent[1]/H3
$/angle:bytype3 @/angle:OPLSAA/43-42-43 $/atom:solvent[2]/H2 $/atom:solvent[2]/O1 $/atom:solvent[2]/H3
$/angle:bytype4 @/angle:OPLSAA/43-42-43 $/atom:solvent[3]/H2 $/atom:solvent[3]/O1 $/atom:solvent[3]/H3
$/angle:bytype5 @/angle:OPLSAA/43-42-43 $/atom:solvent[4]/H2 $/atom:solvent[4]/O1 $/atom:solvent[4]/H3
$/angle:bytype6 @/angle:OPLSAA/43-42-43 $/atom:solvent[5]/H2 $/atom:solvent[5]/O1 $/atom:solvent[5]/H3
$/angle:bytype7 @/angle:OPLSAA/43-42-43 $/atom:solvent[6]/H2 $/atom:solvent[6]/O1 $/atom:solvent[6]/H3
$/angle:bytype8 @/angle:OPLSAA/43-42-43 $/atom:solvent[7]/H2 $/atom:solvent[7]/O1 $/atom:solvent[7]/H3
$/angle:bytype9 @/angle:OPLSAA/43-42-43 $/atom:solvent[8]/H2 $/atom:solvent[8]/O1 $/atom:solvent[8]/H3
$/angle:bytype10 @/angle:OPLSAA/43-42-43 $/atom:solvent[9]/H2 $/atom:solvent[9]/O1 $/atom:solvent[9]/H3
$/angle:bytype11 @/angle:OPLSAA/43-42-43 $/atom:solvent[10]/H2 $/atom:solvent[10]/O1 $/atom:solvent[10]/H3
$/angle:bytype12 @/angle:OPLSAA/43-42-43 $/atom:solvent[11]/H2 $/atom:solvent[11]/O1 $/atom:solvent[11]/H3
$/angle:bytype13 @/angle:OPLSAA/43-42-43 $/atom:solvent[12]/H2 $/atom:solvent[12]/O1 $/atom:solvent[12]/H3
$/angle:bytype14 @/angle:OPLSAA/43-42-43 $/atom:solvent[13]/H2 $/atom:solvent[13]/O1 $/atom:solvent[13]/H3
$/angle:bytype15 @/angle:OPLSAA/43-42-43 $/atom:solvent[14]/H2 $/atom:solvent[14]/O1 $/atom:solvent[14]/H3
$/angle:bytype16 @/angle:OPLSAA/43-42-43 $/atom:solvent[15]/H2 $/atom:solvent[15]/O1 $/atom:solvent[15]/H3
$/angle:bytype17 @/angle:OPLSAA/43-42-43 $/atom:solvent[16]/H2 $/atom:solvent[16]/O1 $/atom:solvent[16]/H3
$/angle:bytype18 @/angle:OPLSAA/43-42-43 $/atom:solvent[17]/H2 $/atom:solvent[17]/O1 $/atom:solvent[17]/H3
$/angle:bytype19 @/angle:OPLSAA/43-42-43 $/atom:solvent[18]/H2 $/atom:solvent[18]/O1 $/atom:solvent[18]/H3
$/angle:bytype20 @/angle:OPLSAA/43-42-43 $/atom:solvent[19]/H2 $/atom:solvent[19]/O1 $/atom:solvent[19]/H3
$/angle:bytype21 @/angle:OPLSAA/43-42-43 $/atom:solvent[20]/H2 $/atom:solvent[20]/O1 $/atom:solvent[20]/H3
$/angle:bytype22 @/angle:OPLSAA/43-42-43 $/atom:solvent[21]/H2 $/atom:solvent[21]/O1 $/atom:solvent[21]/H3
$/angle:bytype23 @/angle:OPLSAA/43-42-43 $/atom:solvent[22]/H2 $/atom:solvent[22]/O1 $/atom:solvent[22]/H3
$/angle:bytype24 @/angle:OPLSAA/43-42-43 $/atom:solvent[23]/H2 $/atom:solvent[23]/O1 $/atom:solvent[23]/H3
$/angle:bytype25 @/angle:OPLSAA/43-42-43 $/atom:solvent[24]/H2 $/atom:solvent[24]/O1 $/atom:solvent[24]/H3
$/angle:bytype26 @/angle:OPLSAA/43-42-43 $/atom:solvent[25]/H2 $/atom:solvent[25]/O1 $/atom:solvent[25]/H3
$/angle:bytype27 @/angle:OPLSAA/43-42-43 $/atom:solvent[26]/H2 $/atom:solvent[26]/O1 $/atom:solvent[26]/H3
$/angle:bytype28 @/angle:OPLSAA/43-42-43 $/atom:solvent[27]/H2 $/atom:solvent[27]/O1 $/atom:solvent[27]/H3
$/angle:bytype29 @/angle:OPLSAA/43-42-43 $/atom:solvent[28]/H2 $/atom:solvent[28]/O1 $/atom:solvent[28]/H3
$/angle:bytype30 @/angle:OPLSAA/43-42-43 $/atom:solvent[29]/H2 $/atom:solvent[29]/O1 $/atom:solvent[29]/H3
$/angle:bytype31 @/angle:OPLSAA/43-42-43 $/atom:solvent[30]/H2 $/atom:solvent[30]/O1 $/atom:solvent[30]/H3
$/angle:bytype32 @/angle:OPLSAA/43-42-43 $/atom:solvent[31]/H2 $/atom:solvent[31]/O1 $/atom:solvent[31]/H3
$/angle:bytype33 @/angle:OPLSAA/43-42-43 $/atom:solvent[32]/H2 $/atom:solvent[32]/O1 $/atom:solvent[32]/H3
$/angle:bytype34 @/angle:OPLSAA/43-42-43 $/atom:solvent[33]/H2 $/atom:solvent[33]/O1 $/atom:solvent[33]/H3
$/angle:bytype35 @/angle:OPLSAA/43-42-43 $/atom:solvent[34]/H2 $/atom:solvent[34]/O1 $/atom:solvent[34]/H3
$/angle:bytype36 @/angle:OPLSAA/43-42-43 $/atom:solvent[35]/H2 $/atom:solvent[35]/O1 $/atom:solvent[35]/H3
$/angle:bytype37 @/angle:OPLSAA/43-42-43 $/atom:solvent[36]/H2 $/atom:solvent[36]/O1 $/atom:solvent[36]/H3
$/angle:bytype38 @/angle:OPLSAA/43-42-43 $/atom:solvent[37]/H2 $/atom:solvent[37]/O1 $/atom:solvent[37]/H3
$/angle:bytype39 @/angle:OPLSAA/43-42-43 $/atom:solvent[38]/H2 $/atom:solvent[38]/O1 $/atom:solvent[38]/H3
$/angle:bytype40 @/angle:OPLSAA/43-42-43 $/atom:solvent[39]/H2 $/atom:solvent[39]/O1 $/atom:solvent[39]/H3
$/angle:bytype41 @/angle:OPLSAA/43-42-43 $/atom:solvent[40]/H2 $/atom:solvent[40]/O1 $/atom:solvent[40]/H3
$/angle:bytype42 @/angle:OPLSAA/43-42-43 $/atom:solvent[41]/H2 $/atom:solvent[41]/O1 $/atom:solvent[41]/H3
$/angle:bytype43 @/angle:OPLSAA/43-42-43 $/atom:solvent[42]/H2 $/atom:solvent[42]/O1 $/atom:solvent[42]/H3
$/angle:bytype44 @/angle:OPLSAA/43-42-43 $/atom:solvent[43]/H2 $/atom:solvent[43]/O1 $/atom:solvent[43]/H3
$/angle:bytype45 @/angle:OPLSAA/43-42-43 $/atom:solvent[44]/H2 $/atom:solvent[44]/O1 $/atom:solvent[44]/H3
$/angle:bytype46 @/angle:OPLSAA/43-42-43 $/atom:solvent[45]/H2 $/atom:solvent[45]/O1 $/atom:solvent[45]/H3
$/angle:bytype47 @/angle:OPLSAA/43-42-43 $/atom:solvent[46]/H2 $/atom:solvent[46]/O1 $/atom:solvent[46]/H3
$/angle:bytype48 @/angle:OPLSAA/43-42-43 $/atom:solvent[47]/H2 $/atom:solvent[47]/O1 $/atom:solvent[47]/H3
$/angle:bytype49 @/angle:OPLSAA/43-42-43 $/atom:solvent[48]/H2 $/atom:solvent[48]/O1 $/atom:solvent[48]/H3
$/angle:bytype50 @/angle:OPLSAA/43-42-43 $/atom:solvent[49]/H2 $/atom:solvent[49]/O1 $/atom:solvent[49]/H3
$/angle:bytype51 @/angle:OPLSAA/43-42-43 $/atom:solvent[50]/H2 $/atom:solvent[50]/O1 $/atom:solvent[50]/H3
$/angle:bytype52 @/angle:OPLSAA/43-42-43 $/atom:solvent[51]/H2 $/atom:solvent[51]/O1 $/atom:solvent[51]/H3
$/angle:bytype53 @/angle:OPLSAA/43-42-43 $/atom:solvent[52]/H2 $/atom:solvent[52]/O1 $/atom:solvent[52]/H3
$/angle:bytype54 @/angle:OPLSAA/43-42-43 $/atom:solvent[53]/H2 $/atom:solvent[53]/O1 $/atom:solvent[53]/H3
$/angle:bytype55 @/angle:OPLSAA/43-42-43 $/atom:solvent[54]/H2 $/atom:solvent[54]/O1 $/atom:solvent[54]/H3
$/angle:bytype56 @/angle:OPLSAA/43-42-43 $/atom:solvent[55]/H2 $/atom:solvent[55]/O1 $/atom:solvent[55]/H3
$/angle:bytype57 @/angle:OPLSAA/43-42-43 $/atom:solvent[56]/H2 $/atom:solvent[56]/O1 $/atom:solvent[56]/H3
$/angle:bytype58 @/angle:OPLSAA/43-42-43 $/atom:solvent[57]/H2 $/atom:solvent[57]/O1 $/atom:solvent[57]/H3
$/angle:bytype59 @/angle:OPLSAA/43-42-43 $/atom:solvent[58]/H2 $/atom:solvent[58]/O1 $/atom:solvent[58]/H3
$/angle:bytype60 @/angle:OPLSAA/43-42-43 $/atom:solvent[59]/H2 $/atom:solvent[59]/O1 $/atom:solvent[59]/H3
$/angle:bytype61 @/angle:OPLSAA/43-42-43 $/atom:solvent[60]/H2 $/atom:solvent[60]/O1 $/atom:solvent[60]/H3
$/angle:bytype62 @/angle:OPLSAA/43-42-43 $/atom:solvent[61]/H2 $/atom:solvent[61]/O1 $/atom:solvent[61]/H3
$/angle:bytype63 @/angle:OPLSAA/43-42-43 $/atom:solvent[62]/H2 $/atom:solvent[62]/O1 $/atom:solvent[62]/H3
$/angle:bytype64 @/angle:OPLSAA/43-42-43 $/atom:solvent[63]/H2 $/atom:solvent[63]/O1 $/atom:solvent[63]/H3
$/angle:bytype65 @/angle:OPLSAA/43-42-43 $/atom:solvent[64]/H2 $/atom:solvent[64]/O1 $/atom:solvent[64]/H3
$/angle:bytype66 @/angle:OPLSAA/43-42-43 $/atom:solvent[65]/H2 $/atom:solvent[65]/O1 $/atom:solvent[65]/H3
$/angle:bytype67 @/angle:OPLSAA/43-42-43 $/atom:solvent[66]/H2 $/atom:solvent[66]/O1 $/atom:solvent[66]/H3
$/angle:bytype68 @/angle:OPLSAA/43-42-43 $/atom:solvent[67]/H2 $/atom:solvent[67]/O1 $/atom:solvent[67]/H3
$/angle:bytype69 @/angle:OPLSAA/43-42-43 $/atom:solvent[68]/H2 $/atom:solvent[68]/O1 $/atom:solvent[68]/H3
$/angle:bytype70 @/angle:OPLSAA/43-42-43 $/atom:solvent[69]/H2 $/atom:solvent[69]/O1 $/atom:solvent[69]/H3
$/angle:bytype71 @/angle:OPLSAA/43-42-43 $/atom:solvent[70]/H2 $/atom:solvent[70]/O1 $/atom:solvent[70]/H3
$/angle:bytype72 @/angle:OPLSAA/43-42-43 $/atom:solvent[71]/H2 $/atom:solvent[71]/O1 $/atom:solvent[71]/H3
$/angle:bytype73 @/angle:OPLSAA/43-42-43 $/atom:solvent[72]/H2 $/atom:solvent[72]/O1 $/atom:solvent[72]/H3
$/angle:bytype74 @/angle:OPLSAA/43-42-43 $/atom:solvent[73]/H2 $/atom:solvent[73]/O1 $/atom:solvent[73]/H3
$/angle:bytype75 @/angle:OPLSAA/43-42-43 $/atom:solvent[74]/H2 $/atom:solvent[74]/O1 $/atom:solvent[74]/H3
$/angle:bytype76 @/angle:OPLSAA/43-42-43 $/atom:solvent[75]/H2 $/atom:solvent[75]/O1 $/atom:solvent[75]/H3
$/angle:bytype77 @/angle:OPLSAA/43-42-43 $/atom:solvent[76]/H2 $/atom:solvent[76]/O1 $/atom:solvent[76]/H3
$/angle:bytype78 @/angle:OPLSAA/43-42-43 $/atom:solvent[77]/H2 $/atom:solvent[77]/O1 $/atom:solvent[77]/H3
$/angle:bytype79 @/angle:OPLSAA/43-42-43 $/atom:solvent[78]/H2 $/atom:solvent[78]/O1 $/atom:solvent[78]/H3
$/angle:bytype80 @/angle:OPLSAA/43-42-43 $/atom:solvent[79]/H2 $/atom:solvent[79]/O1 $/atom:solvent[79]/H3
$/angle:bytype81 @/angle:OPLSAA/43-42-43 $/atom:solvent[80]/H2 $/atom:solvent[80]/O1 $/atom:solvent[80]/H3
$/angle:bytype82 @/angle:OPLSAA/43-42-43 $/atom:solvent[81]/H2 $/atom:solvent[81]/O1 $/atom:solvent[81]/H3
$/angle:bytype83 @/angle:OPLSAA/43-42-43 $/atom:solvent[82]/H2 $/atom:solvent[82]/O1 $/atom:solvent[82]/H3
$/angle:bytype84 @/angle:OPLSAA/43-42-43 $/atom:solvent[83]/H2 $/atom:solvent[83]/O1 $/atom:solvent[83]/H3
$/angle:bytype85 @/angle:OPLSAA/43-42-43 $/atom:solvent[84]/H2 $/atom:solvent[84]/O1 $/atom:solvent[84]/H3
$/angle:bytype86 @/angle:OPLSAA/43-42-43 $/atom:solvent[85]/H2 $/atom:solvent[85]/O1 $/atom:solvent[85]/H3
$/angle:bytype87 @/angle:OPLSAA/43-42-43 $/atom:solvent[86]/H2 $/atom:solvent[86]/O1 $/atom:solvent[86]/H3
$/angle:bytype88 @/angle:OPLSAA/43-42-43 $/atom:solvent[87]/H2 $/atom:solvent[87]/O1 $/atom:solvent[87]/H3
$/angle:bytype89 @/angle:OPLSAA/43-42-43 $/atom:solvent[88]/H2 $/atom:solvent[88]/O1 $/atom:solvent[88]/H3
$/angle:bytype90 @/angle:OPLSAA/43-42-43 $/atom:solvent[89]/H2 $/atom:solvent[89]/O1 $/atom:solvent[89]/H3
$/angle:bytype91 @/angle:OPLSAA/43-42-43 $/atom:solvent[90]/H2 $/atom:solvent[90]/O1 $/atom:solvent[90]/H3
$/angle:bytype92 @/angle:OPLSAA/43-42-43 $/atom:solvent[91]/H2 $/atom:solvent[91]/O1 $/atom:solvent[91]/H3
$/angle:bytype93 @/angle:OPLSAA/43-42-43 $/atom:solvent[92]/H2 $/atom:solvent[92]/O1 $/atom:solvent[92]/H3
$/angle:bytype94 @/angle:OPLSAA/43-42-43 $/atom:solvent[93]/H2 $/atom:solvent[93]/O1 $/atom:solvent[93]/H3
$/angle:bytype95 @/angle:OPLSAA/43-42-43 $/atom:solvent[94]/H2 $/atom:solvent[94]/O1 $/atom:solvent[94]/H3
$/angle:bytype96 @/angle:OPLSAA/43-42-43 $/atom:solvent[95]/H2 $/atom:solvent[95]/O1 $/atom:solvent[95]/H3
$/angle:bytype97 @/angle:OPLSAA/43-42-43 $/atom:solvent[96]/H2 $/atom:solvent[96]/O1 $/atom:solvent[96]/H3
$/angle:bytype98 @/angle:OPLSAA/43-42-43 $/atom:solvent[97]/H2 $/atom:solvent[97]/O1 $/atom:solvent[97]/H3
$/angle:bytype99 @/angle:OPLSAA/43-42-43 $/atom:solvent[98]/H2 $/atom:solvent[98]/O1 $/atom:solvent[98]/H3
$/angle:bytype100 @/angle:OPLSAA/43-42-43 $/atom:solvent[99]/H2 $/atom:solvent[99]/O1 $/atom:solvent[99]/H3
$/angle:bytype101 @/angle:OPLSAA/43-42-43 $/atom:solvent[100]/H2 $/atom:solvent[100]/O1 $/atom:solvent[100]/H3
$/angle:bytype102 @/angle:OPLSAA/43-42-43 $/atom:solvent[101]/H2 $/atom:solvent[101]/O1 $/atom:solvent[101]/H3
$/angle:bytype103 @/angle:OPLSAA/43-42-43 $/atom:solvent[102]/H2 $/atom:solvent[102]/O1 $/atom:solvent[102]/H3
$/angle:bytype104 @/angle:OPLSAA/43-42-43 $/atom:solvent[103]/H2 $/atom:solvent[103]/O1 $/atom:solvent[103]/H3
$/angle:bytype105 @/angle:OPLSAA/43-42-43 $/atom:solvent[104]/H2 $/atom:solvent[104]/O1 $/atom:solvent[104]/H3
$/angle:bytype106 @/angle:OPLSAA/43-42-43 $/atom:solvent[105]/H2 $/atom:solvent[105]/O1 $/atom:solvent[105]/H3
$/angle:bytype107 @/angle:OPLSAA/43-42-43 $/atom:solvent[106]/H2 $/atom:solvent[106]/O1 $/atom:solvent[106]/H3
$/angle:bytype108 @/angle:OPLSAA/43-42-43 $/atom:solvent[107]/H2 $/atom:solvent[107]/O1 $/atom:solvent[107]/H3
$/angle:bytype109 @/angle:OPLSAA/43-42-43 $/atom:solvent[108]/H2 $/atom:solvent[108]/O1 $/atom:solvent[108]/H3
$/angle:bytype110 @/angle:OPLSAA/43-42-43 $/atom:solvent[109]/H2 $/atom:solvent[109]/O1 $/atom:solvent[109]/H3
$/angle:bytype111 @/angle:OPLSAA/43-42-43 $/atom:solvent[110]/H2 $/atom:solvent[110]/O1 $/atom:solvent[110]/H3
$/angle:bytype112 @/angle:OPLSAA/43-42-43 $/atom:solvent[111]/H2 $/atom:solvent[111]/O1 $/atom:solvent[111]/H3
$/angle:bytype113 @/angle:OPLSAA/43-42-43 $/atom:solvent[112]/H2 $/atom:solvent[112]/O1 $/atom:solvent[112]/H3
$/angle:bytype114 @/angle:OPLSAA/43-42-43 $/atom:solvent[113]/H2 $/atom:solvent[113]/O1 $/atom:solvent[113]/H3
$/angle:bytype115 @/angle:OPLSAA/43-42-43 $/atom:solvent[114]/H2 $/atom:solvent[114]/O1 $/atom:solvent[114]/H3
$/angle:bytype116 @/angle:OPLSAA/43-42-43 $/atom:solvent[115]/H2 $/atom:solvent[115]/O1 $/atom:solvent[115]/H3
$/angle:bytype117 @/angle:OPLSAA/43-42-43 $/atom:solvent[116]/H2 $/atom:solvent[116]/O1 $/atom:solvent[116]/H3
$/angle:bytype118 @/angle:OPLSAA/43-42-43 $/atom:solvent[117]/H2 $/atom:solvent[117]/O1 $/atom:solvent[117]/H3
$/angle:bytype119 @/angle:OPLSAA/43-42-43 $/atom:solvent[118]/H2 $/atom:solvent[118]/O1 $/atom:solvent[118]/H3
$/angle:bytype120 @/angle:OPLSAA/43-42-43 $/atom:solvent[119]/H2 $/atom:solvent[119]/O1 $/atom:solvent[119]/H3
$/angle:bytype121 @/angle:OPLSAA/43-42-43 $/atom:solvent[120]/H2 $/atom:solvent[120]/O1 $/atom:solvent[120]/H3
$/angle:bytype122 @/angle:OPLSAA/43-42-43 $/atom:solvent[121]/H2 $/atom:solvent[121]/O1 $/atom:solvent[121]/H3
$/angle:bytype123 @/angle:OPLSAA/43-42-43 $/atom:solvent[122]/H2 $/atom:solvent[122]/O1 $/atom:solvent[122]/H3
$/angle:bytype124 @/angle:OPLSAA/43-42-43 $/atom:solvent[123]/H2 $/atom:solvent[123]/O1 $/atom:solvent[123]/H3
$/angle:bytype125 @/angle:OPLSAA/43-42-43 $/atom:solvent[124]/H2 $/atom:solvent[124]/O1 $/atom:solvent[124]/H3
$/angle:bytype126 @/angle:OPLSAA/43-42-43 $/atom:solvent[125]/H2 $/atom:solvent[125]/O1 $/atom:solvent[125]/H3
$/angle:bytype127 @/angle:OPLSAA/43-42-43 $/atom:solvent[126]/H2 $/atom:solvent[126]/O1 $/atom:solvent[126]/H3
$/angle:bytype128 @/angle:OPLSAA/43-42-43 $/atom:solvent[127]/H2 $/atom:solvent[127]/O1 $/atom:solvent[127]/H3
$/angle:bytype129 @/angle:OPLSAA/43-42-43 $/atom:solvent[128]/H2 $/atom:solvent[128]/O1 $/atom:solvent[128]/H3
$/angle:bytype130 @/angle:OPLSAA/43-42-43 $/atom:solvent[129]/H2 $/atom:solvent[129]/O1 $/atom:solvent[129]/H3
$/angle:bytype131 @/angle:OPLSAA/43-42-43 $/atom:solvent[130]/H2 $/atom:solvent[130]/O1 $/atom:solvent[130]/H3
$/angle:bytype132 @/angle:OPLSAA/43-42-43 $/atom:solvent[131]/H2 $/atom:solvent[131]/O1 $/atom:solvent[131]/H3
$/angle:bytype133 @/angle:OPLSAA/43-42-43 $/atom:solvent[132]/H2 $/atom:solvent[132]/O1 $/atom:solvent[132]/H3
$/angle:bytype134 @/angle:OPLSAA/43-42-43 $/atom:solvent[133]/H2 $/atom:solvent[133]/O1 $/atom:solvent[133]/H3
$/angle:bytype135 @/angle:OPLSAA/43-42-43 $/atom:solvent[134]/H2 $/atom:solvent[134]/O1 $/atom:solvent[134]/H3
$/angle:bytype136 @/angle:OPLSAA/43-42-43 $/atom:solvent[135]/H2 $/atom:solvent[135]/O1 $/atom:solvent[135]/H3
$/angle:bytype137 @/angle:OPLSAA/43-42-43 $/atom:solvent[136]/H2 $/atom:solvent[136]/O1 $/atom:solvent[136]/H3
$/angle:bytype138 @/angle:OPLSAA/43-42-43 $/atom:solvent[137]/H2 $/atom:solvent[137]/O1 $/atom:solvent[137]/H3
$/angle:bytype139 @/angle:OPLSAA/43-42-43 $/atom:solvent[138]/H2 $/atom:solvent[138]/O1 $/atom:solvent[138]/H3
$/angle:bytype140 @/angle:OPLSAA/43-42-43 $/atom:solvent[139]/H2 $/atom:solvent[139]/O1 $/atom:solvent[139]/H3
$/angle:bytype141 @/angle:OPLSAA/43-42-43 $/atom:solvent[140]/H2 $/atom:solvent[140]/O1 $/atom:solvent[140]/H3
$/angle:bytype142 @/angle:OPLSAA/43-42-43 $/atom:solvent[141]/H2 $/atom:solvent[141]/O1 $/atom:solvent[141]/H3
$/angle:bytype143 @/angle:OPLSAA/43-42-43 $/atom:solvent[142]/H2 $/atom:solvent[142]/O1 $/atom:solvent[142]/H3
$/angle:bytype144 @/angle:OPLSAA/43-42-43 $/atom:solvent[143]/H2 $/atom:solvent[143]/O1 $/atom:solvent[143]/H3
$/angle:bytype145 @/angle:OPLSAA/43-42-43 $/atom:solvent[144]/H2 $/atom:solvent[144]/O1 $/atom:solvent[144]/H3
$/angle:bytype146 @/angle:OPLSAA/43-42-43 $/atom:solvent[145]/H2 $/atom:solvent[145]/O1 $/atom:solvent[145]/H3
$/angle:bytype147 @/angle:OPLSAA/43-42-43 $/atom:solvent[146]/H2 $/atom:solvent[146]/O1 $/atom:solvent[146]/H3
$/angle:bytype148 @/angle:OPLSAA/43-42-43 $/atom:solvent[147]/H2 $/atom:solvent[147]/O1 $/atom:solvent[147]/H3
$/angle:bytype149 @/angle:OPLSAA/43-42-43 $/atom:solvent[148]/H2 $/atom:solvent[148]/O1 $/atom:solvent[148]/H3
$/angle:bytype150 @/angle:OPLSAA/43-42-43 $/atom:solvent[149]/H2 $/atom:solvent[149]/O1 $/atom:solvent[149]/H3
$/angle:bytype151 @/angle:OPLSAA/43-42-43 $/atom:solvent[150]/H2 $/atom:solvent[150]/O1 $/atom:solvent[150]/H3
$/angle:bytype152 @/angle:OPLSAA/43-42-43 $/atom:solvent[151]/H2 $/atom:solvent[151]/O1 $/atom:solvent[151]/H3
$/angle:bytype153 @/angle:OPLSAA/43-42-43 $/atom:solvent[152]/H2 $/atom:solvent[152]/O1 $/atom:solvent[152]/H3
$/angle:bytype154 @/angle:OPLSAA/43-42-43 $/atom:solvent[153]/H2 $/atom:solvent[153]/O1 $/atom:solvent[153]/H3
$/angle:bytype155 @/angle:OPLSAA/43-42-43 $/atom:solvent[154]/H2 $/atom:solvent[154]/O1 $/atom:solvent[154]/H3
$/angle:bytype156 @/angle:OPLSAA/43-42-43 $/atom:solvent[155]/H2 $/atom:solvent[155]/O1 $/atom:solvent[155]/H3
$/angle:bytype157 @/angle:OPLSAA/43-42-43 $/atom:solvent[156]/H2 $/atom:solvent[156]/O1 $/atom:solvent[156]/H3
$/angle:bytype158 @/angle:OPLSAA/43-42-43 $/atom:solvent[157]/H2 $/atom:solvent[157]/O1 $/atom:solvent[157]/H3
$/angle:bytype159 @/angle:OPLSAA/43-42-43 $/atom:solvent[158]/H2 $/atom:solvent[158]/O1 $/atom:solvent[158]/H3
$/angle:bytype160 @/angle:OPLSAA/43-42-43 $/atom:solvent[159]/H2 $/atom:solvent[159]/O1 $/atom:solvent[159]/H3
$/angle:bytype161 @/angle:OPLSAA/43-42-43 $/atom:solvent[160]/H2 $/atom:solvent[160]/O1 $/atom:solvent[160]/H3
$/angle:bytype162 @/angle:OPLSAA/43-42-43 $/atom:solvent[161]/H2 $/atom:solvent[161]/O1 $/atom:solvent[161]/H3
$/angle:bytype163 @/angle:OPLSAA/43-42-43 $/atom:solvent[162]/H2 $/atom:solvent[162]/O1 $/atom:solvent[162]/H3
$/angle:bytype164 @/angle:OPLSAA/43-42-43 $/atom:solvent[163]/H2 $/atom:solvent[163]/O1 $/atom:solvent[163]/H3
$/angle:bytype165 @/angle:OPLSAA/43-42-43 $/atom:solvent[164]/H2 $/atom:solvent[164]/O1 $/atom:solvent[164]/H3
$/angle:bytype166 @/angle:OPLSAA/43-42-43 $/atom:solvent[165]/H2 $/atom:solvent[165]/O1 $/atom:solvent[165]/H3
$/angle:bytype167 @/angle:OPLSAA/43-42-43 $/atom:solvent[166]/H2 $/atom:solvent[166]/O1 $/atom:solvent[166]/H3
$/angle:bytype168 @/angle:OPLSAA/43-42-43 $/atom:solvent[167]/H2 $/atom:solvent[167]/O1 $/atom:solvent[167]/H3
$/angle:bytype169 @/angle:OPLSAA/43-42-43 $/atom:solvent[168]/H2 $/atom:solvent[168]/O1 $/atom:solvent[168]/H3
$/angle:bytype170 @/angle:OPLSAA/43-42-43 $/atom:solvent[169]/H2 $/atom:solvent[169]/O1 $/atom:solvent[169]/H3
$/angle:bytype171 @/angle:OPLSAA/43-42-43 $/atom:solvent[170]/H2 $/atom:solvent[170]/O1 $/atom:solvent[170]/H3
$/angle:bytype172 @/angle:OPLSAA/43-42-43 $/atom:solvent[171]/H2 $/atom:solvent[171]/O1 $/atom:solvent[171]/H3
$/angle:bytype173 @/angle:OPLSAA/43-42-43 $/atom:solvent[172]/H2 $/atom:solvent[172]/O1 $/atom:solvent[172]/H3
$/angle:bytype174 @/angle:OPLSAA/43-42-43 $/atom:solvent[173]/H2 $/atom:solvent[173]/O1 $/atom:solvent[173]/H3
$/angle:bytype175 @/angle:OPLSAA/43-42-43 $/atom:solvent[174]/H2 $/atom:solvent[174]/O1 $/atom:solvent[174]/H3
$/angle:bytype176 @/angle:OPLSAA/43-42-43 $/atom:solvent[175]/H2 $/atom:solvent[175]/O1 $/atom:solvent[175]/H3
$/angle:bytype177 @/angle:OPLSAA/43-42-43 $/atom:solvent[176]/H2 $/atom:solvent[176]/O1 $/atom:solvent[176]/H3
$/angle:bytype178 @/angle:OPLSAA/43-42-43 $/atom:solvent[177]/H2 $/atom:solvent[177]/O1 $/atom:solvent[177]/H3
$/angle:bytype179 @/angle:OPLSAA/43-42-43 $/atom:solvent[178]/H2 $/atom:solvent[178]/O1 $/atom:solvent[178]/H3
$/angle:bytype180 @/angle:OPLSAA/43-42-43 $/atom:solvent[179]/H2 $/atom:solvent[179]/O1 $/atom:solvent[179]/H3
$/angle:bytype181 @/angle:OPLSAA/43-42-43 $/atom:solvent[180]/H2 $/atom:solvent[180]/O1 $/atom:solvent[180]/H3
$/angle:bytype182 @/angle:OPLSAA/43-42-43 $/atom:solvent[181]/H2 $/atom:solvent[181]/O1 $/atom:solvent[181]/H3
$/angle:bytype183 @/angle:OPLSAA/43-42-43 $/atom:solvent[182]/H2 $/atom:solvent[182]/O1 $/atom:solvent[182]/H3
$/angle:bytype184 @/angle:OPLSAA/43-42-43 $/atom:solvent[183]/H2 $/atom:solvent[183]/O1 $/atom:solvent[183]/H3
$/angle:bytype185 @/angle:OPLSAA/43-42-43 $/atom:solvent[184]/H2 $/atom:solvent[184]/O1 $/atom:solvent[184]/H3
$/angle:bytype186 @/angle:OPLSAA/43-42-43 $/atom:solvent[185]/H2 $/atom:solvent[185]/O1 $/atom:solvent[185]/H3
$/angle:bytype187 @/angle:OPLSAA/43-42-43 $/atom:solvent[186]/H2 $/atom:solvent[186]/O1 $/atom:solvent[186]/H3
$/angle:bytype188 @/angle:OPLSAA/43-42-43 $/atom:solvent[187]/H2 $/atom:solvent[187]/O1 $/atom:solvent[187]/H3
$/angle:bytype189 @/angle:OPLSAA/43-42-43 $/atom:solvent[188]/H2 $/atom:solvent[188]/O1 $/atom:solvent[188]/H3
$/angle:bytype190 @/angle:OPLSAA/43-42-43 $/atom:solvent[189]/H2 $/atom:solvent[189]/O1 $/atom:solvent[189]/H3
$/angle:bytype191 @/angle:OPLSAA/43-42-43 $/atom:solvent[190]/H2 $/atom:solvent[190]/O1 $/atom:solvent[190]/H3
$/angle:bytype192 @/angle:OPLSAA/43-42-43 $/atom:solvent[191]/H2 $/atom:solvent[191]/O1 $/atom:solvent[191]/H3
$/angle:bytype193 @/angle:OPLSAA/43-42-43 $/atom:solvent[192]/H2 $/atom:solvent[192]/O1 $/atom:solvent[192]/H3
$/angle:bytype194 @/angle:OPLSAA/43-42-43 $/atom:solvent[193]/H2 $/atom:solvent[193]/O1 $/atom:solvent[193]/H3
$/angle:bytype195 @/angle:OPLSAA/43-42-43 $/atom:solvent[194]/H2 $/atom:solvent[194]/O1 $/atom:solvent[194]/H3
$/angle:bytype196 @/angle:OPLSAA/43-42-43 $/atom:solvent[195]/H2 $/atom:solvent[195]/O1 $/atom:solvent[195]/H3
$/angle:bytype197 @/angle:OPLSAA/43-42-43 $/atom:solvent[196]/H2 $/atom:solvent[196]/O1 $/atom:solvent[196]/H3
$/angle:bytype198 @/angle:OPLSAA/43-42-43 $/atom:solvent[197]/H2 $/atom:solvent[197]/O1 $/atom:solvent[197]/H3
$/angle:bytype199 @/angle:OPLSAA/43-42-43 $/atom:solvent[198]/H2 $/atom:solvent[198]/O1 $/atom:solvent[198]/H3
$/angle:bytype200 @/angle:OPLSAA/43-42-43 $/atom:solvent[199]/H2 $/atom:solvent[199]/O1 $/atom:solvent[199]/H3
$/angle:bytype201 @/angle:OPLSAA/43-42-43 $/atom:solvent[200]/H2 $/atom:solvent[200]/O1 $/atom:solvent[200]/H3
$/angle:bytype202 @/angle:OPLSAA/43-42-43 $/atom:solvent[201]/H2 $/atom:solvent[201]/O1 $/atom:solvent[201]/H3
$/angle:bytype203 @/angle:OPLSAA/43-42-43 $/atom:solvent[202]/H2 $/atom:solvent[202]/O1 $/atom:solvent[202]/H3
$/angle:bytype204 @/angle:OPLSAA/43-42-43 $/atom:solvent[203]/H2 $/atom:solvent[203]/O1 $/atom:solvent[203]/H3
$/angle:bytype205 @/angle:OPLSAA/43-42-43 $/atom:solvent[204]/H2 $/atom:solvent[204]/O1 $/atom:solvent[204]/H3
$/angle:bytype206 @/angle:OPLSAA/43-42-43 $/atom:solvent[205]/H2 $/atom:solvent[205]/O1 $/atom:solvent[205]/H3
$/angle:bytype207 @/angle:OPLSAA/43-42-43 $/atom:solvent[206]/H2 $/atom:solvent[206]/O1 $/atom:solvent[206]/H3
$/angle:bytype208 @/angle:OPLSAA/43-42-43 $/atom:solvent[207]/H2 $/atom:solvent[207]/O1 $/atom:solvent[207]/H3
$/angle:bytype209 @/angle:OPLSAA/43-42-43 $/atom:solvent[208]/H2 $/atom:solvent[208]/O1 $/atom:solvent[208]/H3
$/angle:bytype210 @/angle:OPLSAA/43-42-43 $/atom:solvent[209]/H2 $/atom:solvent[209]/O1 $/atom:solvent[209]/H3
$/angle:bytype211 @/angle:OPLSAA/43-42-43 $/atom:solvent[210]/H2 $/atom:solvent[210]/O1 $/atom:solvent[210]/H3
$/angle:bytype212 @/angle:OPLSAA/43-42-43 $/atom:solvent[211]/H2 $/atom:solvent[211]/O1 $/atom:solvent[211]/H3
$/angle:bytype213 @/angle:OPLSAA/43-42-43 $/atom:solvent[212]/H2 $/atom:solvent[212]/O1 $/atom:solvent[212]/H3
$/angle:bytype214 @/angle:OPLSAA/43-42-43 $/atom:solvent[213]/H2 $/atom:solvent[213]/O1 $/atom:solvent[213]/H3
$/angle:bytype215 @/angle:OPLSAA/43-42-43 $/atom:solvent[214]/H2 $/atom:solvent[214]/O1 $/atom:solvent[214]/H3
$/angle:bytype216 @/angle:OPLSAA/43-42-43 $/atom:solvent[215]/H2 $/atom:solvent[215]/O1 $/atom:solvent[215]/H3
$/angle:bytype217 @/angle:OPLSAA/43-42-43 $/atom:solvent[216]/H2 $/atom:solvent[216]/O1 $/atom:solvent[216]/H3
$/angle:bytype218 @/angle:OPLSAA/43-42-43 $/atom:solvent[217]/H2 $/atom:solvent[217]/O1 $/atom:solvent[217]/H3
$/angle:bytype219 @/angle:OPLSAA/43-42-43 $/atom:solvent[218]/H2 $/atom:solvent[218]/O1 $/atom:solvent[218]/H3
$/angle:bytype220 @/angle:OPLSAA/43-42-43 $/atom:solvent[219]/H2 $/atom:solvent[219]/O1 $/atom:solvent[219]/H3
$/angle:bytype221 @/angle:OPLSAA/43-42-43 $/atom:solvent[220]/H2 $/atom:solvent[220]/O1 $/atom:solvent[220]/H3
$/angle:bytype222 @/angle:OPLSAA/43-42-43 $/atom:solvent[221]/H2 $/atom:solvent[221]/O1 $/atom:solvent[221]/H3
$/angle:bytype223 @/angle:OPLSAA/43-42-43 $/atom:solvent[222]/H2 $/atom:solvent[222]/O1 $/atom:solvent[222]/H3
$/angle:bytype224 @/angle:OPLSAA/43-42-43 $/atom:solvent[223]/H2 $/atom:solvent[223]/O1 $/atom:solvent[223]/H3
$/angle:bytype225 @/angle:OPLSAA/43-42-43 $/atom:solvent[224]/H2 $/atom:solvent[224]/O1 $/atom:solvent[224]/H3
$/angle:bytype226 @/angle:OPLSAA/43-42-43 $/atom:solvent[225]/H2 $/atom:solvent[225]/O1 $/atom:solvent[225]/H3
$/angle:bytype227 @/angle:OPLSAA/43-42-43 $/atom:solvent[226]/H2 $/atom:solvent[226]/O1 $/atom:solvent[226]/H3
$/angle:bytype228 @/angle:OPLSAA/43-42-43 $/atom:solvent[227]/H2 $/atom:solvent[227]/O1 $/atom:solvent[227]/H3
$/angle:bytype229 @/angle:OPLSAA/43-42-43 $/atom:solvent[228]/H2 $/atom:solvent[228]/O1 $/atom:solvent[228]/H3
$/angle:bytype230 @/angle:OPLSAA/43-42-43 $/atom:solvent[229]/H2 $/atom:solvent[229]/O1 $/atom:solvent[229]/H3
$/angle:bytype231 @/angle:OPLSAA/43-42-43 $/atom:solvent[230]/H2 $/atom:solvent[230]/O1 $/atom:solvent[230]/H3
$/angle:bytype232 @/angle:OPLSAA/43-42-43 $/atom:solvent[231]/H2 $/atom:solvent[231]/O1 $/atom:solvent[231]/H3
$/angle:bytype233 @/angle:OPLSAA/43-42-43 $/atom:solvent[232]/H2 $/atom:solvent[232]/O1 $/atom:solvent[232]/H3
$/angle:bytype234 @/angle:OPLSAA/43-42-43 $/atom:solvent[233]/H2 $/atom:solvent[233]/O1 $/atom:solvent[233]/H3
$/angle:bytype235 @/angle:OPLSAA/43-42-43 $/atom:solvent[234]/H2 $/atom:solvent[234]/O1 $/atom:solvent[234]/H3
$/angle:bytype236 @/angle:OPLSAA/43-42-43 $/atom:solvent[235]/H2 $/atom:solvent[235]/O1 $/atom:solvent[235]/H3
$/angle:bytype237 @/angle:OPLSAA/43-42-43 $/atom:solvent[236]/H2 $/atom:solvent[236]/O1 $/atom:solvent[236]/H3
$/angle:bytype238 @/angle:OPLSAA/43-42-43 $/atom:solvent[237]/H2 $/atom:solvent[237]/O1 $/atom:solvent[237]/H3
$/angle:bytype239 @/angle:OPLSAA/43-42-43 $/atom:solvent[238]/H2 $/atom:solvent[238]/O1 $/atom:solvent[238]/H3
$/angle:bytype240 @/angle:OPLSAA/43-42-43 $/atom:solvent[239]/H2 $/atom:solvent[239]/O1 $/atom:solvent[239]/H3
$/angle:bytype241 @/angle:OPLSAA/43-42-43 $/atom:solvent[240]/H2 $/atom:solvent[240]/O1 $/atom:solvent[240]/H3
$/angle:bytype242 @/angle:OPLSAA/43-42-43 $/atom:solvent[241]/H2 $/atom:solvent[241]/O1 $/atom:solvent[241]/H3
$/angle:bytype243 @/angle:OPLSAA/43-42-43 $/atom:solvent[242]/H2 $/atom:solvent[242]/O1 $/atom:solvent[242]/H3
$/angle:bytype244 @/angle:OPLSAA/43-42-43 $/atom:solvent[243]/H2 $/atom:solvent[243]/O1 $/atom:solvent[243]/H3
$/angle:bytype245 @/angle:OPLSAA/43-42-43 $/atom:solvent[244]/H2 $/atom:solvent[244]/O1 $/atom:solvent[244]/H3
$/angle:bytype246 @/angle:OPLSAA/43-42-43 $/atom:solvent[245]/H2 $/atom:solvent[245]/O1 $/atom:solvent[245]/H3
$/angle:bytype247 @/angle:OPLSAA/43-42-43 $/atom:solvent[246]/H2 $/atom:solvent[246]/O1 $/atom:solvent[246]/H3
$/angle:bytype248 @/angle:OPLSAA/43-42-43 $/atom:solvent[247]/H2 $/atom:solvent[247]/O1 $/atom:solvent[247]/H3
$/angle:bytype249 @/angle:OPLSAA/43-42-43 $/atom:solvent[248]/H2 $/atom:solvent[248]/O1 $/atom:solvent[248]/H3
$/angle:bytype250 @/angle:OPLSAA/43-42-43 $/atom:solvent[249]/H2 $/atom:solvent[249]/O1 $/atom:solvent[249]/H3
$/angle:bytype251 @/angle:OPLSAA/43-42-43 $/atom:solvent[250]/H2 $/atom:solvent[250]/O1 $/atom:solvent[250]/H3
$/angle:bytype252 @/angle:OPLSAA/43-42-43 $/atom:solvent[251]/H2 $/atom:solvent[251]/O1 $/atom:solvent[251]/H3
$/angle:bytype253 @/angle:OPLSAA/43-42-43 $/atom:solvent[252]/H2 $/atom:solvent[252]/O1 $/atom:solvent[252]/H3
$/angle:bytype254 @/angle:OPLSAA/43-42-43 $/atom:solvent[253]/H2 $/atom:solvent[253]/O1 $/atom:solvent[253]/H3
$/angle:bytype255 @/angle:OPLSAA/43-42-43 $/atom:solvent[254]/H2 $/atom:solvent[254]/O1 $/atom:solvent[254]/H3
$/angle:bytype256 @/angle:OPLSAA/43-42-43 $/atom:solvent[255]/H2 $/atom:solvent[255]/O1 $/atom:solvent[255]/H3
$/angle:bytype257 @/angle:OPLSAA/43-42-43 $/atom:solvent[256]/H2 $/atom:solvent[256]/O1 $/atom:solvent[256]/H3
$/angle:bytype258 @/angle:OPLSAA/43-42-43 $/atom:solvent[257]/H2 $/atom:solvent[257]/O1 $/atom:solvent[257]/H3
$/angle:bytype259 @/angle:OPLSAA/43-42-43 $/atom:solvent[258]/H2 $/atom:solvent[258]/O1 $/atom:solvent[258]/H3
$/angle:bytype260 @/angle:OPLSAA/43-42-43 $/atom:solvent[259]/H2 $/atom:solvent[259]/O1 $/atom:solvent[259]/H3
$/angle:bytype261 @/angle:OPLSAA/43-42-43 $/atom:solvent[260]/H2 $/atom:solvent[260]/O1 $/atom:solvent[260]/H3
$/angle:bytype262 @/angle:OPLSAA/43-42-43 $/atom:solvent[261]/H2 $/atom:solvent[261]/O1 $/atom:solvent[261]/H3
$/angle:bytype263 @/angle:OPLSAA/43-42-43 $/atom:solvent[262]/H2 $/atom:solvent[262]/O1 $/atom:solvent[262]/H3
$/angle:bytype264 @/angle:OPLSAA/43-42-43 $/atom:solvent[263]/H2 $/atom:solvent[263]/O1 $/atom:solvent[263]/H3
$/angle:bytype265 @/angle:OPLSAA/43-42-43 $/atom:solvent[264]/H2 $/atom:solvent[264]/O1 $/atom:solvent[264]/H3
$/angle:bytype266 @/angle:OPLSAA/43-42-43 $/atom:solvent[265]/H2 $/atom:solvent[265]/O1 $/atom:solvent[265]/H3
$/angle:bytype267 @/angle:OPLSAA/43-42-43 $/atom:solvent[266]/H2 $/atom:solvent[266]/O1 $/atom:solvent[266]/H3
