$/bond:solvent[0]/1 @/bond:OPLSAA/42-43 $/atom:solvent[0]/O1 $/atom:solvent[0]/H2
$/bond:solvent[0]/2 @/bond:OPLSAA/42-43 $/atom:solvent[0]/O1 $/atom:solvent[0]/H3
$/bond:solvent[1]/1 @/bond:OPLSAA/42-43 $/atom:solvent[1]/O1 $/atom:solvent[1]/H2
$/bond:solvent[1]/2 @/bond:OPLSAA/42-43 $/atom:solvent[1]/O1 $/atom:solvent[1]/H3
$/bond:solvent[2]/1 @/bond:OPLSAA/42-43 $/atom:solvent[2]/O1 $/atom:solvent[2]/H2
$/bond:solvent[2]/2 @/bond:OPLSAA/42-43 $/atom:solvent[2]/O1 $/atom:solvent[2]/H3
$/bond:solvent[3]/1 @/bond:OPLSAA/42-43 $/atom:solvent[3]/O1 $/atom:solvent[3]/H2
$/bond:solvent[3]/2 @/bond:OPLSAA/42-43 $/atom:solvent[3]/O1 $/atom:solvent[3]/H3
$/bond:solvent[4]/1 @/bond:OPLSAA/42-43 $/atom:solvent[4]/O1 $/atom:solvent[4]/H2
$/bond:solvent[4]/2 @/bond:OPLSAA/42-43 $/atom:solvent[4]/O1 $/atom:solvent[4]/H3
$/bond:solvent[5]/1 @/bond:OPLSAA/42-43 $/atom:solvent[5]/O1 $/atom:solvent[5]/H2
$/bond:solvent[5]/2 @/bond:OPLSAA/42-43 $/atom:solvent[5]/O1 $/atom:solvent[5]/H3
$/bond:solvent[6]/1 @/bond:OPLSAA/42-43 $/atom:solvent[6]/O1 $/atom:solvent[6]/H2
$/bond:solvent[6]/2 @/bond:OPLSAA/42-43 $/atom:solvent[6]/O1 $/atom:solvent[6]/H3
$/bond:solvent[7]/1 @/bond:OPLSAA/42-43 $/atom:solvent[7]/O1 $/atom:solvent[7]/H2
$/bond:solvent[7]/2 @/bond:OPLSAA/42-43 $/atom:solvent[7]/O1 $/atom:solvent[7]/H3
$/bond:solvent[8]/1 @/bond:OPLSAA/42-43 $/atom:solvent[8]/O1 $/atom:solvent[8]/H2
$/bond:solvent[8]/2 @/bond:OPLSAA/42-43 $/atom:solvent[8]/O1 $/atom:solvent[8]/H3
$/bond:solvent[9]/1 @/bond:OPLSAA/42-43 $/atom:solvent[9]/O1 $/atom:solvent[9]/H2
$/bond:solvent[9]/2 @/bond:OPLSAA/42-43 $/atom:solvent[9]/O1 $/atom:solvent[9]/H3
$/bond:solvent[10]/1 @/bond:OPLSAA/42-43 $/atom:solvent[10]/O1 $/atom:solvent[10]/H2
$/bond:solvent[10]/2 @/bond:OPLSAA/42-43 $/atom:solvent[10]/O1 $/atom:solvent[10]/H3
$/bond:solvent[11]/1 @/bond:OPLSAA/42-43 $/atom:solvent[11]/O1 $/atom:solvent[11]/H2
$/bond:solvent[11]/2 @/bond:OPLSAA/42-43 $/atom:solvent[11]/O1 $/atom:solvent[11]/H3
$/bond:solvent[12]/1 @/bond:OPLSAA/42-43 $/atom:solvent[12]/O1 $/atom:solvent[12]/H2
$/bond:solvent[12]/2 @/bond:OPLSAA/42-43 $/atom:solvent[12]/O1 $/atom:solvent[12]/H3
$/bond:solvent[13]/1 @/bond:OPLSAA/42-43 $/atom:solvent[13]/O1 $/atom:solvent[13]/H2
$/bond:solvent[13]/2 @/bond:OPLSAA/42-43 $/atom:solvent[13]/O1 $/atom:solvent[13]/H3
$/bond:solvent[14]/1 @/bond:OPLSAA/42-43 $/atom:solvent[14]/O1 $/atom:solvent[14]/H2
$/bond:solvent[14]/2 @/bond:OPLSAA/42-43 $/atom:solvent[14]/O1 $/atom:solvent[14]/H3
$/bond:solvent[15]/1 @/bond:OPLSAA/42-43 $/atom:solvent[15]/O1 $/atom:solvent[15]/H2
$/bond:solvent[15]/2 @/bond:OPLSAA/42-43 $/atom:solvent[15]/O1 $/atom:solvent[15]/H3
$/bond:solvent[16]/1 @/bond:OPLSAA/42-43 $/atom:solvent[16]/O1 $/atom:solvent[16]/H2
$/bond:solvent[16]/2 @/bond:OPLSAA/42-43 $/atom:solvent[16]/O1 $/atom:solvent[16]/H3
$/bond:solvent[17]/1 @/bond:OPLSAA/42-43 $/atom:solvent[17]/O1 $/atom:solvent[17]/H2
$/bond:solvent[17]/2 @/bond:OPLSAA/42-43 $/atom:solvent[17]/O1 $/atom:solvent[17]/H3
$/bond:solvent[18]/1 @/bond:OPLSAA/42-43 $/atom:solvent[18]/O1 $/atom:solvent[18]/H2
$/bond:solvent[18]/2 @/bond:OPLSAA/42-43 $/atom:solvent[18]/O1 $/atom:solvent[18]/H3
$/bond:solvent[19]/1 @/bond:OPLSAA/42-43 $/atom:solvent[19]/O1 $/atom:solvent[19]/H2
$/bond:solvent[19]/2 @/bond:OPLSAA/42-43 $/atom:solvent[19]/O1 $/atom:solvent[19]/H3
$/bond:solvent[20]/1 @/bond:OPLSAA/42-43 $/atom:solvent[20]/O1 $/atom:solvent[20]/H2
$/bond:solvent[20]/2 @/bond:OPLSAA/42-43 $/atom:solvent[20]/O1 $/atom:solvent[20]/H3
$/bond:solvent[21]/1 @/bond:OPLSAA/42-43 $/atom:solvent[21]/O1 $/atom:solvent[21]/H2
$/bond:solvent[21]/2 @/bond:OPLSAA/42-43 $/atom:solvent[21]/O1 $/atom:solvent[21]/H3
$/bond:solvent[22]/1 @/bond:OPLSAA/42-43 $/atom:solvent[22]/O1 $/atom:solvent[22]/H2
$/bond:solvent[22]/2 @/bond:OPLSAA/42-43 $/atom:solvent[22]/O1 $/atom:solvent[22]/H3
$/bond:solvent[23]/1 @/bond:OPLSAA/42-43 $/atom:solvent[23]/O1 $/atom:solvent[23]/H2
$/bond:solvent[23]/2 @/bond:OPLSAA/42-43 $/atom:solvent[23]/O1 $/atom:solvent[23]/H3
$/bond:solvent[24]/1 @/bond:OPLSAA/42-43 $/atom:solvent[24]/O1 $/atom:solvent[24]/H2
$/bond:solvent[24]/2 @/bond:OPLSAA/42-43 $/atom:solvent[24]/O1 $/atom:solvent[24]/H3
$/bond:solvent[25]/1 @/bond:OPLSAA/42-43 $/atom:solvent[25]/O1 $/atom:solvent[25]/H2
$/bond:solvent[25]/2 @/bond:OPLSAA/42-43 $/atom:solvent[25]/O1 $/atom:solvent[25]/H3
$/bond:solvent[26]/1 @/bond:OPLSAA/42-43 $/atom:solvent[26]/O1 $/atom:solvent[26]/H2
$/bond:solvent[26]/2 @/bond:OPLSAA/42-43 $/atom:solvent[26]/O1 $/atom:solvent[26]/H3
$/bond:solvent[27]/1 @/bond:OPLSAA/42-43 $/atom:solvent[27]/O1 $/atom:solvent[27]/H2
$/bond:solvent[27]/2 @/bond:OPLSAA/42-43 $/atom:solvent[27]/O1 $/atom:solvent[27]/H3
$/bond:solvent[28]/1 @/bond:OPLSAA/42-43 $/atom:solvent[28]/O1 $/atom:solvent[28]/H2
$/bond:solvent[28]/2 @/bond:OPLSAA/42-43 $/atom:solvent[28]/O1 $/atom:solvent[28]/H3
$/bond:solvent[29]/1 @/bond:OPLSAA/42-43 $/atom:solvent[29]/O1 $/atom:solvent[29]/H2
$/bond:solvent[29]/2 @/bond:OPLSAA/42-43 $/atom:solvent[29]/O1 $/atom:solvent[29]/H3
$/bond:solvent[30]/1 @/bond:OPLSAA/42-43 $/atom:solvent[30]/O1 $/atom:solvent[30]/H2
$/bond:solvent[30]/2 @/bond:OPLSAA/42-43 $/atom:solvent[30]/O1 $/atom:solvent[30]/H3
$/bond:solvent[31]/1 @/bond:OPLSAA/42-43 $/atom:solvent[31]/O1 $/atom:solvent[31]/H2
$/bond:solvent[31]/2 @/bond:OPLSAA/42-43 $/atom:solvent[31]/O1 $/atom:solvent[31]/H3
$/bond:solvent[32]/1 @/bond:OPLSAA/42-43 $/atom:solvent[32]/O1 $/atom:solvent[32]/H2
$/bond:solvent[32]/2 @/bond:OPLSAA/42-43 $/atom:solvent[32]/O1 $/atom:solvent[32]/H3
$/bond:solvent[33]/1 @/bond:OPLSAA/42-43 $/atom:solvent[33]/O1 $/atom:solvent[33]/H2
$/bond:solvent[33]/2 @/bond:OPLSAA/42-43 $/atom:solvent[33]/O1 $/atom:solvent[33]/H3
$/bond:solvent[34]/1 @/bond:OPLSAA/42-43 $/atom:solvent[34]/O1 $/atom:solvent[34]/H2
$/bond:solvent[34]/2 @/bond:OPLSAA/42-43 $/atom:solvent[34]/O1 $/atom:solvent[34]/H3
$/bond:solvent[35]/1 @/bond:OPLSAA/42-43 $/atom:solvent[35]/O1 $/atom:solvent[35]/H2
$/bond:solvent[35]/2 @/bond:OPLSAA/42-43 $/atom:solvent[35]/O1 $/atom:solvent[35]/H3
$/bond:solvent[36]/1 @/bond:OPLSAA/42-43 $/atom:solvent[36]/O1 $/atom:solvent[36]/H2
$/bond:solvent[36]/2 @/bond:OPLSAA/42-43 $/atom:solvent[36]/O1 $/atom:solvent[36]/H3
$/bond:solvent[37]/1 @/bond:OPLSAA/42-43 $/atom:solvent[37]/O1 $/atom:solvent[37]/H2
$/bond:solvent[37]/2 @/bond:OPLSAA/42-43 $/atom:solvent[37]/O1 $/atom:solvent[37]/H3
$/bond:solvent[38]/1 @/bond:OPLSAA/42-43 $/atom:solvent[38]/O1 $/atom:solvent[38]/H2
$/bond:solvent[38]/2 @/bond:OPLSAA/42-43 $/atom:solvent[38]/O1 $/atom:solvent[38]/H3
$/bond:solvent[39]/1 @/bond:OPLSAA/42-43 $/atom:solvent[39]/O1 $/atom:solvent[39]/H2
$/bond:solvent[39]/2 @/bond:OPLSAA/42-43 $/atom:solvent[39]/O1 $/atom:solvent[39]/H3
$/bond:solvent[40]/1 @/bond:OPLSAA/42-43 $/atom:solvent[40]/O1 $/atom:solvent[40]/H2
$/bond:solvent[40]/2 @/bond:OPLSAA/42-43 $/atom:solvent[40]/O1 $/atom:solvent[40]/H3
$/bond:solvent[41]/1 @/bond:OPLSAA/42-43 $/atom:solvent[41]/O1 $/atom:solvent[41]/H2
$/bond:solvent[41]/2 @/bond:OPLSAA/42-43 $/atom:solvent[41]/O1 $/atom:solvent[41]/H3
$/bond:solvent[42]/1 @/bond:OPLSAA/42-43 $/atom:solvent[42]/O1 $/atom:solvent[42]/H2
$/bond:solvent[42]/2 @/bond:OPLSAA/42-43 $/atom:solvent[42]/O1 $/atom:solvent[42]/H3
$/bond:solvent[43]/1 @/bond:OPLSAA/42-43 $/atom:solvent[43]/O1 $/atom:solvent[43]/H2
$/bond:solvent[43]/2 @/bond:OPLSAA/42-43 $/atom:solvent[43]/O1 $/atom:solvent[43]/H3
$/bond:solvent[44]/1 @/bond:OPLSAA/42-43 $/atom:solvent[44]/O1 $/atom:solvent[44]/H2
$/bond:solvent[44]/2 @/bond:OPLSAA/42-43 $/atom:solvent[44]/O1 $/atom:solvent[44]/H3
$/bond:solvent[45]/1 @/bond:OPLSAA/42-43 $/atom:solvent[45]/O1 $/atom:solvent[45]/H2
$/bond:solvent[45]/2 @/bond:OPLSAA/42-43 $/atom:solvent[45]/O1 $/atom:solvent[45]/H3
$/bond:solvent[46]/1 @/bond:OPLSAA/42-43 $/atom:solvent[46]/O1 $/atom:solvent[46]/H2
$/bond:solvent[46]/2 @/bond:OPLSAA/42-43 $/atom:solvent[46]/O1 $/atom:solvent[46]/H3
$/bond:solvent[47]/1 @/bond:OPLSAA/42-43 $/atom:solvent[47]/O1 $/atom:solvent[47]/H2
$/bond:solvent[47]/2 @/bond:OPLSAA/42-43 $/atom:solvent[47]/O1 $/atom:solvent[47]/H3
$/bond:solvent[48]/1 @/bond:OPLSAA/42-43 $/atom:solvent[48]/O1 $/atom:solvent[48]/H2
$/bond:solvent[48]/2 @/bond:OPLSAA/42-43 $/atom:solvent[48]/O1 $/atom:solvent[48]/H3
$/bond:solvent[49]/1 @/bond:OPLSAA/42-43 $/atom:solvent[49]/O1 $/atom:solvent[49]/H2
$/bond:solvent[49]/2 @/bond:OPLSAA/42-43 $/atom:solvent[49]/O1 $/atom:solvent[49]/H3
$/bond:solvent[50]/1 @/bond:OPLSAA/42-43 $/atom:solvent[50]/O1 $/atom:solvent[50]/H2
$/bond:solvent[50]/2 @/bond:OPLSAA/42-43 $/atom:solvent[50]/O1 $/atom:solvent[50]/H3
$/bond:solvent[51]/1 @/bond:OPLSAA/42-43 $/atom:solvent[51]/O1 $/atom:solvent[51]/H2
$/bond:solvent[51]/2 @/bond:OPLSAA/42-43 $/atom:solvent[51]/O1 $/atom:solvent[51]/H3
$/bond:solvent[52]/1 @/bond:OPLSAA/42-43 $/atom:solvent[52]/O1 $/atom:solvent[52]/H2
$/bond:solvent[52]/2 @/bond:OPLSAA/42-43 $/atom:solvent[52]/O1 $/atom:solvent[52]/H3
$/bond:solvent[53]/1 @/bond:OPLSAA/42-43 $/atom:solvent[53]/O1 $/atom:solvent[53]/H2
$/bond:solvent[53]/2 @/bond:OPLSAA/42-43 $/atom:solvent[53]/O1 $/atom:solvent[53]/H3
$/bond:solvent[54]/1 @/bond:OPLSAA/42-43 $/atom:solvent[54]/O1 $/atom:solvent[54]/H2
$/bond:solvent[54]/2 @/bond:OPLSAA/42-43 $/atom:solvent[54]/O1 $/atom:solvent[54]/H3
$/bond:solvent[55]/1 @/bond:OPLSAA/42-43 $/atom:solvent[55]/O1 $/atom:solvent[55]/H2
$/bond:solvent[55]/2 @/bond:OPLSAA/42-43 $/atom:solvent[55]/O1 $/atom:solvent[55]/H3
$/bond:solvent[56]/1 @/bond:OPLSAA/42-43 $/atom:solvent[56]/O1 $/atom:solvent[56]/H2
$/bond:solvent[56]/2 @/bond:OPLSAA/42-43 $/atom:solvent[56]/O1 $/atom:solvent[56]/H3
$/bond:solvent[57]/1 @/bond:OPLSAA/42-43 $/atom:solvent[57]/O1 $/atom:solvent[57]/H2
$/bond:solvent[57]/2 @/bond:OPLSAA/42-43 $/atom:solvent[57]/O1 $/atom:solvent[57]/H3
$/bond:solvent[58]/1 @/bond:OPLSAA/42-43 $/atom:solvent[58]/O1 $/atom:solvent[58]/H2
$/bond:solvent[58]/2 @/bond:OPLSAA/42-43 $/atom:solvent[58]/O1 $/atom:solvent[58]/H3
$/bond:solvent[59]/1 @/bond:OPLSAA/42-43 $/atom:solvent[59]/O1 $/atom:solvent[59]/H2
$/bond:solvent[59]/2 @/bond:OPLSAA/42-43 $/atom:solvent[59]/O1 $/atom:solvent[59]/H3
$/bond:solvent[60]/1 @/bond:OPLSAA/42-43 $/atom:solvent[60]/O1 $/atom:solvent[60]/H2
$/bond:solvent[60]/2 @/bond:OPLSAA/42-43 $/atom:solvent[60]/O1 $/atom:solvent[60]/H3
$/bond:solvent[61]/1 @/bond:OPLSAA/42-43 $/atom:solvent[61]/O1 $/atom:solvent[61]/H2
$/bond:solvent[61]/2 @/bond:OPLSAA/42-43 $/atom:solvent[61]/O1 $/atom:solvent[61]/H3
$/bond:solvent[62]/1 @/bond:OPLSAA/42-43 $/atom:solvent[62]/O1 $/atom:solvent[62]/H2
$/bond:solvent[62]/2 @/bond:OPLSAA/42-43 $/atom:solvent[62]/O1 $/atom:solvent[62]/H3
$/bond:solvent[63]/1 @/bond:OPLSAA/42-43 $/atom:solvent[63]/O1 $/atom:solvent[63]/H2
$/bond:solvent[63]/2 @/bond:OPLSAA/42-43 $/atom:solvent[63]/O1 $/atom:solvent[63]/H3
$/bond:solvent[64]/1 @/bond:OPLSAA/42-43 $/atom:solvent[64]/O1 $/atom:solvent[64]/H2
$/bond:solvent[64]/2 @/bond:OPLSAA/42-43 $/atom:solvent[64]/O1 $/atom:solvent[64]/H3
$/bond:solvent[65]/1 @/bond:OPLSAA/42-43 $/atom:solvent[65]/O1 $/atom:solvent[65]/H2
$/bond:solvent[65]/2 @/bond:OPLSAA/42-43 $/atom:solvent[65]/O1 $/atom:solvent[65]/H3
$/bond:solvent[66]/1 @/bond:OPLSAA/42-43 $/atom:solvent[66]/O1 $/atom:solvent[66]/H2
$/bond:solvent[66]/2 @/bond:OPLSAA/42-43 $/atom:solvent[66]/O1 $/atom:solvent[66]/H3
$/bond:solvent[67]/1 @/bond:OPLSAA/42-43 $/atom:solvent[67]/O1 $/atom:solvent[67]/H2
$/bond:solvent[67]/2 @/bond:OPLSAA/42-43 $/atom:solvent[67]/O1 $/atom:solvent[67]/H3
$/bond:solvent[68]/1 @/bond:OPLSAA/42-43 $/atom:solvent[68]/O1 $/atom:solvent[68]/H2
$/bond:solvent[68]/2 @/bond:OPLSAA/42-43 $/atom:solvent[68]/O1 $/atom:solvent[68]/H3
$/bond:solvent[69]/1 @/bond:OPLSAA/42-43 $/atom:solvent[69]/O1 $/atom:solvent[69]/H2
$/bond:solvent[69]/2 @/bond:OPLSAA/42-43 $/atom:solvent[69]/O1 $/atom:solvent[69]/H3
$/bond:solvent[70]/1 @/bond:OPLSAA/42-43 $/atom:solvent[70]/O1 $/atom:solvent[70]/H2
$/bond:solvent[70]/2 @/bond:OPLSAA/42-43 $/atom:solvent[70]/O1 $/atom:solvent[70]/H3
$/bond:solvent[71]/1 @/bond:OPLSAA/42-43 $/atom:solvent[71]/O1 $/atom:solvent[71]/H2
$/bond:solvent[71]/2 @/bond:OPLSAA/42-43 $/atom:solvent[71]/O1 $/atom:solvent[71]/H3
$/bond:solvent[72]/1 @/bond:OPLSAA/42-43 $/atom:solvent[72]/O1 $/atom:solvent[72]/H2
$/bond:solvent[72]/2 @/bond:OPLSAA/42-43 $/atom:solvent[72]/O1 $/atom:solvent[72]/H3
$/bond:solvent[73]/1 @/bond:OPLSAA/42-43 $/atom:solvent[73]/O1 $/atom:solvent[73]/H2
$/bond:solvent[73]/2 @/bond:OPLSAA/42-43 $/atom:solvent[73]/O1 $/atom:solvent[73]/H3
$/bond:solvent[74]/1 @/bond:OPLSAA/42-43 $/atom:solvent[74]/O1 $/atom:solvent[74]/H2
$/bond:solvent[74]/2 @/bond:OPLSAA/42-43 $/atom:solvent[74]/O1 $/atom:solvent[74]/H3
$/bond:solvent[75]/1 @/bond:OPLSAA/42-43 $/atom:solvent[75]/O1 $/atom:solvent[75]/H2
$/bond:solvent[75]/2 @/bond:OPLSAA/42-43 $/atom:solvent[75]/O1 $/atom:solvent[75]/H3
$/bond:solvent[76]/1 @/bond:OPLSAA/42-43 $/atom:solvent[76]/O1 $/atom:solvent[76]/H2
$/bond:solvent[76]/2 @/bond:OPLSAA/42-43 $/atom:solvent[76]/O1 $/atom:solvent[76]/H3
$/bond:solvent[77]/1 @/bond:OPLSAA/42-43 $/atom:solvent[77]/O1 $/atom:solvent[77]/H2
$/bond:solvent[77]/2 @/bond:OPLSAA/42-43 $/atom:solvent[77]/O1 $/atom:solvent[77]/H3
$/bond:solvent[78]/1 @/bond:OPLSAA/42-43 $/atom:solvent[78]/O1 $/atom:solvent[78]/H2
$/bond:solvent[78]/2 @/bond:OPLSAA/42-43 $/atom:solvent[78]/O1 $/atom:solvent[78]/H3
$/bond:solvent[79]/1 @/bond:OPLSAA/42-43 $/atom:solvent[79]/O1 $/atom:solvent[79]/H2
$/bond:solvent[79]/2 @/bond:OPLSAA/42-43 $/atom:solvent[79]/O1 $/atom:solvent[79]/H3
$/bond:solvent[80]/1 @/bond:OPLSAA/42-43 $/atom:solvent[80]/O1 $/atom:solvent[80]/H2
$/bond:solvent[80]/2 @/bond:OPLSAA/42-43 $/atom:solvent[80]/O1 $/atom:solvent[80]/H3
$/bond:solvent[81]/1 @/bond:OPLSAA/42-43 $/atom:solvent[81]/O1 $/atom:solvent[81]/H2
$/bond:solvent[81]/2 @/bond:OPLSAA/42-43 $/atom:solvent[81]/O1 $/atom:solvent[81]/H3
$/bond:solvent[82]/1 @/bond:OPLSAA/42-43 $/atom:solvent[82]/O1 $/atom:solvent[82]/H2
$/bond:solvent[82]/2 @/bond:OPLSAA/42-43 $/atom:solvent[82]/O1 $/atom:solvent[82]/H3
$/bond:solvent[83]/1 @/bond:OPLSAA/42-43 $/atom:solvent[83]/O1 $/atom:solvent[83]/H2
$/bond:solvent[83]/2 @/bond:OPLSAA/42-43 $/atom:solvent[83]/O1 $/atom:solvent[83]/H3
$/bond:solvent[84]/1 @/bond:OPLSAA/42-43 $/atom:solvent[84]/O1 $/atom:solvent[84]/H2
$/bond:solvent[84]/2 @/bond:OPLSAA/42-43 $/atom:solvent[84]/O1 $/atom:solvent[84]/H3
$/bond:solvent[85]/1 @/bond:OPLSAA/42-43 $/atom:solvent[85]/O1 $/atom:solvent[85]/H2
$/bond:solvent[85]/2 @/bond:OPLSAA/42-43 $/atom:solvent[85]/O1 $/atom:solvent[85]/H3
$/bond:solvent[86]/1 @/bond:OPLSAA/42-43 $/atom:solvent[86]/O1 $/atom:solvent[86]/H2
$/bond:solvent[86]/2 @/bond:OPLSAA/42-43 $/atom:solvent[86]/O1 $/atom:solvent[86]/H3
$/bond:solvent[87]/1 @/bond:OPLSAA/42-43 $/atom:solvent[87]/O1 $/atom:solvent[87]/H2
$/bond:solvent[87]/2 @/bond:OPLSAA/42-43 $/atom:solvent[87]/O1 $/atom:solvent[87]/H3
$/bond:solvent[88]/1 @/bond:OPLSAA/42-43 $/atom:solvent[88]/O1 $/atom:solvent[88]/H2
$/bond:solvent[88]/2 @/bond:OPLSAA/42-43 $/atom:solvent[88]/O1 $/atom:solvent[88]/H3
$/bond:solvent[89]/1 @/bond:OPLSAA/42-43 $/atom:solvent[89]/O1 $/atom:solvent[89]/H2
$/bond:solvent[89]/2 @/bond:OPLSAA/42-43 $/atom:solvent[89]/O1 $/atom:solvent[89]/H3
$/bond:solvent[90]/1 @/bond:OPLSAA/42-43 $/atom:solvent[90]/O1 $/atom:solvent[90]/H2
$/bond:solvent[90]/2 @/bond:OPLSAA/42-43 $/atom:solvent[90]/O1 $/atom:solvent[90]/H3
$/bond:solvent[91]/1 @/bond:OPLSAA/42-43 $/atom:solvent[91]/O1 $/atom:solvent[91]/H2
$/bond:solvent[91]/2 @/bond:OPLSAA/42-43 $/atom:solvent[91]/O1 $/atom:solvent[91]/H3
$/bond:solvent[92]/1 @/bond:OPLSAA/42-43 $/atom:solvent[92]/O1 $/atom:solvent[92]/H2
$/bond:solvent[92]/2 @/bond:OPLSAA/42-43 $/atom:solvent[92]/O1 $/atom:solvent[92]/H3
$/bond:solvent[93]/1 @/bond:OPLSAA/42-43 $/atom:solvent[93]/O1 $/atom:solvent[93]/H2
$/bond:solvent[93]/2 @/bond:OPLSAA/42-43 $/atom:solvent[93]/O1 $/atom:solvent[93]/H3
$/bond:solvent[94]/1 @/bond:OPLSAA/42-43 $/atom:solvent[94]/O1 $/atom:solvent[94]/H2
$/bond:solvent[94]/2 @/bond:OPLSAA/42-43 $/atom:solvent[94]/O1 $/atom:solvent[94]/H3
$/bond:solvent[95]/1 @/bond:OPLSAA/42-43 $/atom:solvent[95]/O1 $/atom:solvent[95]/H2
$/bond:solvent[95]/2 @/bond:OPLSAA/42-43 $/atom:solvent[95]/O1 $/atom:solvent[95]/H3
$/bond:solvent[96]/1 @/bond:OPLSAA/42-43 $/atom:solvent[96]/O1 $/atom:solvent[96]/H2
$/bond:solvent[96]/2 @/bond:OPLSAA/42-43 $/atom:solvent[96]/O1 $/atom:solvent[96]/H3
$/bond:solvent[97]/1 @/bond:OPLSAA/42-43 $/atom:solvent[97]/O1 $/atom:solvent[97]/H2
$/bond:solvent[97]/2 @/bond:OPLSAA/42-43 $/atom:solvent[97]/O1 $/atom:solvent[97]/H3
$/bond:solvent[98]/1 @/bond:OPLSAA/42-43 $/atom:solvent[98]/O1 $/atom:solvent[98]/H2
$/bond:solvent[98]/2 @/bond:OPLSAA/42-43 $/atom:solvent[98]/O1 $/atom:solvent[98]/H3
$/bond:solvent[99]/1 @/bond:OPLSAA/42-43 $/atom:solvent[99]/O1 $/atom:solvent[99]/H2
$/bond:solvent[99]/2 @/bond:OPLSAA/42-43 $/atom:solvent[99]/O1 $/atom:solvent[99]/H3
$/bond:solvent[100]/1 @/bond:OPLSAA/42-43 $/atom:solvent[100]/O1 $/atom:solvent[100]/H2
$/bond:solvent[100]/2 @/bond:OPLSAA/42-43 $/atom:solvent[100]/O1 $/atom:solvent[100]/H3
$/bond:solvent[101]/1 @/bond:OPLSAA/42-43 $/atom:solvent[101]/O1 $/atom:solvent[101]/H2
$/bond:solvent[101]/2 @/bond:OPLSAA/42-43 $/atom:solvent[101]/O1 $/atom:solvent[101]/H3
$/bond:solvent[102]/1 @/bond:OPLSAA/42-43 $/atom:solvent[102]/O1 $/atom:solvent[102]/H2
$/bond:solvent[102]/2 @/bond:OPLSAA/42-43 $/atom:solvent[102]/O1 $/atom:solvent[102]/H3
$/bond:solvent[103]/1 @/bond:OPLSAA/42-43 $/atom:solvent[103]/O1 $/atom:solvent[103]/H2
$/bond:solvent[103]/2 @/bond:OPLSAA/42-43 $/atom:solvent[103]/O1 $/atom:solvent[103]/H3
$/bond:solvent[104]/1 @/bond:OPLSAA/42-43 $/atom:solvent[104]/O1 $/atom:solvent[104]/H2
$/bond:solvent[104]/2 @/bond:OPLSAA/42-43 $/atom:solvent[104]/O1 $/atom:solvent[104]/H3
$/bond:solvent[105]/1 @/bond:OPLSAA/42-43 $/atom:solvent[105]/O1 $/atom:solvent[105]/H2
$/bond:solvent[105]/2 @/bond:OPLSAA/42-43 $/atom:solvent[105]/O1 $/atom:solvent[105]/H3
$/bond:solvent[106]/1 @/bond:OPLSAA/42-43 $/atom:solvent[106]/O1 $/atom:solvent[106]/H2
$/bond:solvent[106]/2 @/bond:OPLSAA/42-43 $/atom:solvent[106]/O1 $/atom:solvent[106]/H3
$/bond:solvent[107]/1 @/bond:OPLSAA/42-43 $/atom:solvent[107]/O1 $/atom:solvent[107]/H2
$/bond:solvent[107]/2 @/bond:OPLSAA/42-43 $/atom:solvent[107]/O1 $/atom:solvent[107]/H3
$/bond:solvent[108]/1 @/bond:OPLSAA/42-43 $/atom:solvent[108]/O1 $/atom:solvent[108]/H2
$/bond:solvent[108]/2 @/bond:OPLSAA/42-43 $/atom:solvent[108]/O1 $/atom:solvent[108]/H3
$/bond:solvent[109]/1 @/bond:OPLSAA/42-43 $/atom:solvent[109]/O1 $/atom:solvent[109]/H2
$/bond:solvent[109]/2 @/bond:OPLSAA/42-43 $/atom:solvent[109]/O1 $/atom:solvent[109]/H3
$/bond:solvent[110]/1 @/bond:OPLSAA/42-43 $/atom:solvent[110]/O1 $/atom:solvent[110]/H2
$/bond:solvent[110]/2 @/bond:OPLSAA/42-43 $/atom:solvent[110]/O1 $/atom:solvent[110]/H3
$/bond:solvent[111]/1 @/bond:OPLSAA/42-43 $/atom:solvent[111]/O1 $/atom:solvent[111]/H2
$/bond:solvent[111]/2 @/bond:OPLSAA/42-43 $/atom:solvent[111]/O1 $/atom:solvent[111]/H3
$/bond:solvent[112]/1 @/bond:OPLSAA/42-43 $/atom:solvent[112]/O1 $/atom:solvent[112]/H2
$/bond:solvent[112]/2 @/bond:OPLSAA/42-43 $/atom:solvent[112]/O1 $/atom:solvent[112]/H3
$/bond:solvent[113]/1 @/bond:OPLSAA/42-43 $/atom:solvent[113]/O1 $/atom:solvent[113]/H2
$/bond:solvent[113]/2 @/bond:OPLSAA/42-43 $/atom:solvent[113]/O1 $/atom:solvent[113]/H3
$/bond:solvent[114]/1 @/bond:OPLSAA/42-43 $/atom:solvent[114]/O1 $/atom:solvent[114]/H2
$/bond:solvent[114]/2 @/bond:OPLSAA/42-43 $/atom:solvent[114]/O1 $/atom:solvent[114]/H3
$/bond:solvent[115]/1 @/bond:OPLSAA/42-43 $/atom:solvent[115]/O1 $/atom:solvent[115]/H2
$/bond:solvent[115]/2 @/bond:OPLSAA/42-43 $/atom:solvent[115]/O1 $/atom:solvent[115]/H3
$/bond:solvent[116]/1 @/bond:OPLSAA/42-43 $/atom:solvent[116]/O1 $/atom:solvent[116]/H2
$/bond:solvent[116]/2 @/bond:OPLSAA/42-43 $/atom:solvent[116]/O1 $/atom:solvent[116]/H3
$/bond:solvent[117]/1 @/bond:OPLSAA/42-43 $/atom:solvent[117]/O1 $/atom:solvent[117]/H2
$/bond:solvent[117]/2 @/bond:OPLSAA/42-43 $/atom:solvent[117]/O1 $/atom:solvent[117]/H3
$/bond:solvent[118]/1 @/bond:OPLSAA/42-43 $/atom:solvent[118]/O1 $/atom:solvent[118]/H2
$/bond:solvent[118]/2 @/bond:OPLSAA/42-43 $/atom:solvent[118]/O1 $/atom:solvent[118]/H3
$/bond:solvent[119]/1 @/bond:OPLSAA/42-43 $/atom:solvent[119]/O1 $/atom:solvent[119]/H2
$/bond:solvent[119]/2 @/bond:OPLSAA/42-43 $/atom:solvent[119]/O1 $/atom:solvent[119]/H3
$/bond:solvent[120]/1 @/bond:OPLSAA/42-43 $/atom:solvent[120]/O1 $/atom:solvent[120]/H2
$/bond:solvent[120]/2 @/bond:OPLSAA/42-43 $/atom:solvent[120]/O1 $/atom:solvent[120]/H3
$/bond:solvent[121]/1 @/bond:OPLSAA/42-43 $/atom:solvent[121]/O1 $/atom:solvent[121]/H2
$/bond:solvent[121]/2 @/bond:OPLSAA/42-43 $/atom:solvent[121]/O1 $/atom:solvent[121]/H3
$/bond:solvent[122]/1 @/bond:OPLSAA/42-43 $/atom:solvent[122]/O1 $/atom:solvent[122]/H2
$/bond:solvent[122]/2 @/bond:OPLSAA/42-43 $/atom:solvent[122]/O1 $/atom:solvent[122]/H3
$/bond:solvent[123]/1 @/bond:OPLSAA/42-43 $/atom:solvent[123]/O1 $/atom:solvent[123]/H2
$/bond:solvent[123]/2 @/bond:OPLSAA/42-43 $/atom:solvent[123]/O1 $/atom:solvent[123]/H3
$/bond:solvent[124]/1 @/bond:OPLSAA/42-43 $/atom:solvent[124]/O1 $/atom:solvent[124]/H2
$/bond:solvent[124]/2 @/bond:OPLSAA/42-43 $/atom:solvent[124]/O1 $/atom:solvent[124]/H3
$/bond:solvent[125]/1 @/bond:OPLSAA/42-43 $/atom:solvent[125]/O1 $/atom:solvent[125]/H2
$/bond:solvent[125]/2 @/bond:OPLSAA/42-43 $/atom:solvent[125]/O1 $/atom:solvent[125]/H3
$/bond:solvent[126]/1 @/bond:OPLSAA/42-43 $/atom:solvent[126]/O1 $/atom:solvent[126]/H2
$/bond:solvent[126]/2 @/bond:OPLSAA/42-43 $/atom:solvent[126]/O1 $/atom:solvent[126]/H3
$/bond:solvent[127]/1 @/bond:OPLSAA/42-43 $/atom:solvent[127]/O1 $/atom:solvent[127]/H2
$/bond:solvent[127]/2 @/bond:OPLSAA/42-43 $/atom:solvent[127]/O1 $/atom:solvent[127]/H3
$/bond:solvent[128]/1 @/bond:OPLSAA/42-43 $/atom:solvent[128]/O1 $/atom:solvent[128]/H2
$/bond:solvent[128]/2 @/bond:OPLSAA/42-43 $/atom:solvent[128]/O1 $/atom:solvent[128]/H3
$/bond:solvent[129]/1 @/bond:OPLSAA/42-43 $/atom:solvent[129]/O1 $/atom:solvent[129]/H2
$/bond:solvent[129]/2 @/bond:OPLSAA/42-43 $/atom:solvent[129]/O1 $/atom:solvent[129]/H3
$/bond:solvent[130]/1 @/bond:OPLSAA/42-43 $/atom:solvent[130]/O1 $/atom:solvent[130]/H2
$/bond:solvent[130]/2 @/bond:OPLSAA/42-43 $/atom:solvent[130]/O1 $/atom:solvent[130]/H3
$/bond:solvent[131]/1 @/bond:OPLSAA/42-43 $/atom:solvent[131]/O1 $/atom:solvent[131]/H2
$/bond:solvent[131]/2 @/bond:OPLSAA/42-43 $/atom:solvent[131]/O1 $/atom:solvent[131]/H3
$/bond:solvent[132]/1 @/bond:OPLSAA/42-43 $/atom:solvent[132]/O1 $/atom:solvent[132]/H2
$/bond:solvent[132]/2 @/bond:OPLSAA/42-43 $/atom:solvent[132]/O1 $/atom:solvent[132]/H3
$/bond:solvent[133]/1 @/bond:OPLSAA/42-43 $/atom:solvent[133]/O1 $/atom:solvent[133]/H2
$/bond:solvent[133]/2 @/bond:OPLSAA/42-43 $/atom:solvent[133]/O1 $/atom:solvent[133]/H3
$/bond:solvent[134]/1 @/bond:OPLSAA/42-43 $/atom:solvent[134]/O1 $/atom:solvent[134]/H2
$/bond:solvent[134]/2 @/bond:OPLSAA/42-43 $/atom:solvent[134]/O1 $/atom:solvent[134]/H3
$/bond:solvent[135]/1 @/bond:OPLSAA/42-43 $/atom:solvent[135]/O1 $/atom:solvent[135]/H2
$/bond:solvent[135]/2 @/bond:OPLSAA/42-43 $/atom:solvent[135]/O1 $/atom:solvent[135]/H3
$/bond:solvent[136]/1 @/bond:OPLSAA/42-43 $/atom:solvent[136]/O1 $/atom:solvent[136]/H2
$/bond:solvent[136]/2 @/bond:OPLSAA/42-43 $/atom:solvent[136]/O1 $/atom:solvent[136]/H3
$/bond:solvent[137]/1 @/bond:OPLSAA/42-43 $/atom:solvent[137]/O1 $/atom:solvent[137]/H2
$/bond:solvent[137]/2 @/bond:OPLSAA/42-43 $/atom:solvent[137]/O1 $/atom:solvent[137]/H3
$/bond:solvent[138]/1 @/bond:OPLSAA/42-43 $/atom:solvent[138]/O1 $/atom:solvent[138]/H2
$/bond:solvent[138]/2 @/bond:OPLSAA/42-43 $/atom:solvent[138]/O1 $/atom:solvent[138]/H3
$/bond:solvent[139]/1 @/bond:OPLSAA/42-43 $/atom:solvent[139]/O1 $/atom:solvent[139]/H2
$/bond:solvent[139]/2 @/bond:OPLSAA/42-43 $/atom:solvent[139]/O1 $/atom:solvent[139]/H3
$/bond:solvent[140]/1 @/bond:OPLSAA/42-43 $/atom:solvent[140]/O1 $/atom:solvent[140]/H2
$/bond:solvent[140]/2 @/bond:OPLSAA/42-43 $/atom:solvent[140]/O1 $/atom:solvent[140]/H3
$/bond:solvent[141]/1 @/bond:OPLSAA/42-43 $/atom:solvent[141]/O1 $/atom:solvent[141]/H2
$/bond:solvent[141]/2 @/bond:OPLSAA/42-43 $/atom:solvent[141]/O1 $/atom:solvent[141]/H3
$/bond:solvent[142]/1 @/bond:OPLSAA/42-43 $/atom:solvent[142]/O1 $/atom:solvent[142]/H2
$/bond:solvent[142]/2 @/bond:OPLSAA/42-43 $/atom:solvent[142]/O1 $/atom:solvent[142]/H3
$/bond:solvent[143]/1 @/bond:OPLSAA/42-43 $/atom:solvent[143]/O1 $/atom:solvent[143]/H2
$/bond:solvent[143]/2 @/bond:OPLSAA/42-43 $/atom:solvent[143]/O1 $/atom:solvent[143]/H3
$/bond:solvent[144]/1 @/bond:OPLSAA/42-43 $/atom:solvent[144]/O1 $/atom:solvent[144]/H2
$/bond:solvent[144]/2 @/bond:OPLSAA/42-43 $/atom:solvent[144]/O1 $/atom:solvent[144]/H3
$/bond:solvent[145]/1 @/bond:OPLSAA/42-43 $/atom:solvent[145]/O1 $/atom:solvent[145]/H2
$/bond:solvent[145]/2 @/bond:OPLSAA/42-43 $/atom:solvent[145]/O1 $/atom:solvent[145]/H3
$/bond:solvent[146]/1 @/bond:OPLSAA/42-43 $/atom:solvent[146]/O1 $/atom:solvent[146]/H2
$/bond:solvent[146]/2 @/bond:OPLSAA/42-43 $/atom:solvent[146]/O1 $/atom:solvent[146]/H3
$/bond:solvent[147]/1 @/bond:OPLSAA/42-43 $/atom:solvent[147]/O1 $/atom:solvent[147]/H2
$/bond:solvent[147]/2 @/bond:OPLSAA/42-43 $/atom:solvent[147]/O1 $/atom:solvent[147]/H3
$/bond:solvent[148]/1 @/bond:OPLSAA/42-43 $/atom:solvent[148]/O1 $/atom:solvent[148]/H2
$/bond:solvent[148]/2 @/bond:OPLSAA/42-43 $/atom:solvent[148]/O1 $/atom:solvent[148]/H3
$/bond:solvent[149]/1 @/bond:OPLSAA/42-43 $/atom:solvent[149]/O1 $/atom:solvent[149]/H2
$/bond:solvent[149]/2 @/bond:OPLSAA/42-43 $/atom:solvent[149]/O1 $/atom:solvent[149]/H3
$/bond:solvent[150]/1 @/bond:OPLSAA/42-43 $/atom:solvent[150]/O1 $/atom:solvent[150]/H2
$/bond:solvent[150]/2 @/bond:OPLSAA/42-43 $/atom:solvent[150]/O1 $/atom:solvent[150]/H3
$/bond:solvent[151]/1 @/bond:OPLSAA/42-43 $/atom:solvent[151]/O1 $/atom:solvent[151]/H2
$/bond:solvent[151]/2 @/bond:OPLSAA/42-43 $/atom:solvent[151]/O1 $/atom:solvent[151]/H3
$/bond:solvent[152]/1 @/bond:OPLSAA/42-43 $/atom:solvent[152]/O1 $/atom:solvent[152]/H2
$/bond:solvent[152]/2 @/bond:OPLSAA/42-43 $/atom:solvent[152]/O1 $/atom:solvent[152]/H3
$/bond:solvent[153]/1 @/bond:OPLSAA/42-43 $/atom:solvent[153]/O1 $/atom:solvent[153]/H2
$/bond:solvent[153]/2 @/bond:OPLSAA/42-43 $/atom:solvent[153]/O1 $/atom:solvent[153]/H3
$/bond:solvent[154]/1 @/bond:OPLSAA/42-43 $/atom:solvent[154]/O1 $/atom:solvent[154]/H2
$/bond:solvent[154]/2 @/bond:OPLSAA/42-43 $/atom:solvent[154]/O1 $/atom:solvent[154]/H3
$/bond:solvent[155]/1 @/bond:OPLSAA/42-43 $/atom:solvent[155]/O1 $/atom:solvent[155]/H2
$/bond:solvent[155]/2 @/bond:OPLSAA/42-43 $/atom:solvent[155]/O1 $/atom:solvent[155]/H3
$/bond:solvent[156]/1 @/bond:OPLSAA/42-43 $/atom:solvent[156]/O1 $/atom:solvent[156]/H2
$/bond:solvent[156]/2 @/bond:OPLSAA/42-43 $/atom:solvent[156]/O1 $/atom:solvent[156]/H3
$/bond:solvent[157]/1 @/bond:OPLSAA/42-43 $/atom:solvent[157]/O1 $/atom:solvent[157]/H2
$/bond:solvent[157]/2 @/bond:OPLSAA/42-43 $/atom:solvent[157]/O1 $/atom:solvent[157]/H3
$/bond:solvent[158]/1 @/bond:OPLSAA/42-43 $/atom:solvent[158]/O1 $/atom:solvent[158]/H2
$/bond:solvent[158]/2 @/bond:OPLSAA/42-43 $/atom:solvent[158]/O1 $/atom:solvent[158]/H3
$/bond:solvent[159]/1 @/bond:OPLSAA/42-43 $/atom:solvent[159]/O1 $/atom:solvent[159]/H2
$/bond:solvent[159]/2 @/bond:OPLSAA/42-43 $/atom:solvent[159]/O1 $/atom:solvent[159]/H3
$/bond:solvent[160]/1 @/bond:OPLSAA/42-43 $/atom:solvent[160]/O1 $/atom:solvent[160]/H2
$/bond:solvent[160]/2 @/bond:OPLSAA/42-43 $/atom:solvent[160]/O1 $/atom:solvent[160]/H3
$/bond:solvent[161]/1 @/bond:OPLSAA/42-43 $/atom:solvent[161]/O1 $/atom:solvent[161]/H2
$/bond:solvent[161]/2 @/bond:OPLSAA/42-43 $/atom:solvent[161]/O1 $/atom:solvent[161]/H3
$/bond:solvent[162]/1 @/bond:OPLSAA/42-43 $/atom:solvent[162]/O1 $/atom:solvent[162]/H2
$/bond:solvent[162]/2 @/bond:OPLSAA/42-43 $/atom:solvent[162]/O1 $/atom:solvent[162]/H3
$/bond:solvent[163]/1 @/bond:OPLSAA/42-43 $/atom:solvent[163]/O1 $/atom:solvent[163]/H2
$/bond:solvent[163]/2 @/bond:OPLSAA/42-43 $/atom:solvent[163]/O1 $/atom:solvent[163]/H3
$/bond:solvent[164]/1 @/bond:OPLSAA/42-43 $/atom:solvent[164]/O1 $/atom:solvent[164]/H2
$/bond:solvent[164]/2 @/bond:OPLSAA/42-43 $/atom:solvent[164]/O1 $/atom:solvent[164]/H3
$/bond:solvent[165]/1 @/bond:OPLSAA/42-43 $/atom:solvent[165]/O1 $/atom:solvent[165]/H2
$/bond:solvent[165]/2 @/bond:OPLSAA/42-43 $/atom:solvent[165]/O1 $/atom:solvent[165]/H3
$/bond:solvent[166]/1 @/bond:OPLSAA/42-43 $/atom:solvent[166]/O1 $/atom:solvent[166]/H2
$/bond:solvent[166]/2 @/bond:OPLSAA/42-43 $/atom:solvent[166]/O1 $/atom:solvent[166]/H3
$/bond:solvent[167]/1 @/bond:OPLSAA/42-43 $/atom:solvent[167]/O1 $/atom:solvent[167]/H2
$/bond:solvent[167]/2 @/bond:OPLSAA/42-43 $/atom:solvent[167]/O1 $/atom:solvent[167]/H3
$/bond:solvent[168]/1 @/bond:OPLSAA/42-43 $/atom:solvent[168]/O1 $/atom:solvent[168]/H2
$/bond:solvent[168]/2 @/bond:OPLSAA/42-43 $/atom:solvent[168]/O1 $/atom:solvent[168]/H3
$/bond:solvent[169]/1 @/bond:OPLSAA/42-43 $/atom:solvent[169]/O1 $/atom:solvent[169]/H2
$/bond:solvent[169]/2 @/bond:OPLSAA/42-43 $/atom:solvent[169]/O1 $/atom:solvent[169]/H3
$/bond:solvent[170]/1 @/bond:OPLSAA/42-43 $/atom:solvent[170]/O1 $/atom:solvent[170]/H2
$/bond:solvent[170]/2 @/bond:OPLSAA/42-43 $/atom:solvent[170]/O1 $/atom:solvent[170]/H3
$/bond:solvent[171]/1 @/bond:OPLSAA/42-43 $/atom:solvent[171]/O1 $/atom:solvent[171]/H2
$/bond:solvent[171]/2 @/bond:OPLSAA/42-43 $/atom:solvent[171]/O1 $/atom:solvent[171]/H3
$/bond:solvent[172]/1 @/bond:OPLSAA/42-43 $/atom:solvent[172]/O1 $/atom:solvent[172]/H2
$/bond:solvent[172]/2 @/bond:OPLSAA/42-43 $/atom:solvent[172]/O1 $/atom:solvent[172]/H3
$/bond:solvent[173]/1 @/bond:OPLSAA/42-43 $/atom:solvent[173]/O1 $/atom:solvent[173]/H2
$/bond:solvent[173]/2 @/bond:OPLSAA/42-43 $/atom:solvent[173]/O1 $/atom:solvent[173]/H3
$/bond:solvent[174]/1 @/bond:OPLSAA/42-43 $/atom:solvent[174]/O1 $/atom:solvent[174]/H2
$/bond:solvent[174]/2 @/bond:OPLSAA/42-43 $/atom:solvent[174]/O1 $/atom:solvent[174]/H3
$/bond:solvent[175]/1 @/bond:OPLSAA/42-43 $/atom:solvent[175]/O1 $/atom:solvent[175]/H2
$/bond:solvent[175]/2 @/bond:OPLSAA/42-43 $/atom:solvent[175]/O1 $/atom:solvent[175]/H3
$/bond:solvent[176]/1 @/bond:OPLSAA/42-43 $/atom:solvent[176]/O1 $/atom:solvent[176]/H2
$/bond:solvent[176]/2 @/bond:OPLSAA/42-43 $/atom:solvent[176]/O1 $/atom:solvent[176]/H3
$/bond:solvent[177]/1 @/bond:OPLSAA/42-43 $/atom:solvent[177]/O1 $/atom:solvent[177]/H2
$/bond:solvent[177]/2 @/bond:OPLSAA/42-43 $/atom:solvent[177]/O1 $/atom:solvent[177]/H3
$/bond:solvent[178]/1 @/bond:OPLSAA/42-43 $/atom:solvent[178]/O1 $/atom:solvent[178]/H2
$/bond:solvent[178]/2 @/bond:OPLSAA/42-43 $/atom:solvent[178]/O1 $/atom:solvent[178]/H3
$/bond:solvent[179]/1 @/bond:OPLSAA/42-43 $/atom:solvent[179]/O1 $/atom:solvent[179]/H2
$/bond:solvent[179]/2 @/bond:OPLSAA/42-43 $/atom:solvent[179]/O1 $/atom:solvent[179]/H3
$/bond:solvent[180]/1 @/bond:OPLSAA/42-43 $/atom:solvent[180]/O1 $/atom:solvent[180]/H2
$/bond:solvent[180]/2 @/bond:OPLSAA/42-43 $/atom:solvent[180]/O1 $/atom:solvent[180]/H3
$/bond:solvent[181]/1 @/bond:OPLSAA/42-43 $/atom:solvent[181]/O1 $/atom:solvent[181]/H2
$/bond:solvent[181]/2 @/bond:OPLSAA/42-43 $/atom:solvent[181]/O1 $/atom:solvent[181]/H3
$/bond:solvent[182]/1 @/bond:OPLSAA/42-43 $/atom:solvent[182]/O1 $/atom:solvent[182]/H2
$/bond:solvent[182]/2 @/bond:OPLSAA/42-43 $/atom:solvent[182]/O1 $/atom:solvent[182]/H3
$/bond:solvent[183]/1 @/bond:OPLSAA/42-43 $/atom:solvent[183]/O1 $/atom:solvent[183]/H2
$/bond:solvent[183]/2 @/bond:OPLSAA/42-43 $/atom:solvent[183]/O1 $/atom:solvent[183]/H3
$/bond:solvent[184]/1 @/bond:OPLSAA/42-43 $/atom:solvent[184]/O1 $/atom:solvent[184]/H2
$/bond:solvent[184]/2 @/bond:OPLSAA/42-43 $/atom:solvent[184]/O1 $/atom:solvent[184]/H3
$/bond:solvent[185]/1 @/bond:OPLSAA/42-43 $/atom:solvent[185]/O1 $/atom:solvent[185]/H2
$/bond:solvent[185]/2 @/bond:OPLSAA/42-43 $/atom:solvent[185]/O1 $/atom:solvent[185]/H3
$/bond:solvent[186]/1 @/bond:OPLSAA/42-43 $/atom:solvent[186]/O1 $/atom:solvent[186]/H2
$/bond:solvent[186]/2 @/bond:OPLSAA/42-43 $/atom:solvent[186]/O1 $/atom:solvent[186]/H3
$/bond:solvent[187]/1 @/bond:OPLSAA/42-43 $/atom:solvent[187]/O1 $/atom:solvent[187]/H2
$/bond:solvent[187]/2 @/bond:OPLSAA/42-43 $/atom:solvent[187]/O1 $/atom:solvent[187]/H3
$/bond:solvent[188]/1 @/bond:OPLSAA/42-43 $/atom:solvent[188]/O1 $/atom:solvent[188]/H2
$/bond:solvent[188]/2 @/bond:OPLSAA/42-43 $/atom:solvent[188]/O1 $/atom:solvent[188]/H3
$/bond:solvent[189]/1 @/bond:OPLSAA/42-43 $/atom:solvent[189]/O1 $/atom:solvent[189]/H2
$/bond:solvent[189]/2 @/bond:OPLSAA/42-43 $/atom:solvent[189]/O1 $/atom:solvent[189]/H3
$/bond:solvent[190]/1 @/bond:OPLSAA/42-43 $/atom:solvent[190]/O1 $/atom:solvent[190]/H2
$/bond:solvent[190]/2 @/bond:OPLSAA/42-43 $/atom:solvent[190]/O1 $/atom:solvent[190]/H3
$/bond:solvent[191]/1 @/bond:OPLSAA/42-43 $/atom:solvent[191]/O1 $/atom:solvent[191]/H2
$/bond:solvent[191]/2 @/bond:OPLSAA/42-43 $/atom:solvent[191]/O1 $/atom:solvent[191]/H3
$/bond:solvent[192]/1 @/bond:OPLSAA/42-43 $/atom:solvent[192]/O1 $/atom:solvent[192]/H2
$/bond:solvent[192]/2 @/bond:OPLSAA/42-43 $/atom:solvent[192]/O1 $/atom:solvent[192]/H3
$/bond:solvent[193]/1 @/bond:OPLSAA/42-43 $/atom:solvent[193]/O1 $/atom:solvent[193]/H2
$/bond:solvent[193]/2 @/bond:OPLSAA/42-43 $/atom:solvent[193]/O1 $/atom:solvent[193]/H3
$/bond:solvent[194]/1 @/bond:OPLSAA/42-43 $/atom:solvent[194]/O1 $/atom:solvent[194]/H2
$/bond:solvent[194]/2 @/bond:OPLSAA/42-43 $/atom:solvent[194]/O1 $/atom:solvent[194]/H3
$/bond:solvent[195]/1 @/bond:OPLSAA/42-43 $/atom:solvent[195]/O1 $/atom:solvent[195]/H2
$/bond:solvent[195]/2 @/bond:OPLSAA/42-43 $/atom:solvent[195]/O1 $/atom:solvent[195]/H3
$/bond:solvent[196]/1 @/bond:OPLSAA/42-43 $/atom:solvent[196]/O1 $/atom:solvent[196]/H2
$/bond:solvent[196]/2 @/bond:OPLSAA/42-43 $/atom:solvent[196]/O1 $/atom:solvent[196]/H3
$/bond:solvent[197]/1 @/bond:OPLSAA/42-43 $/atom:solvent[197]/O1 $/atom:solvent[197]/H2
$/bond:solvent[197]/2 @/bond:OPLSAA/42-43 $/atom:solvent[197]/O1 $/atom:solvent[197]/H3
$/bond:solvent[198]/1 @/bond:OPLSAA/42-43 $/atom:solvent[198]/O1 $/atom:solvent[198]/H2
$/bond:solvent[198]/2 @/bond:OPLSAA/42-43 $/atom:solvent[198]/O1 $/atom:solvent[198]/H3
$/bond:solvent[199]/1 @/bond:OPLSAA/42-43 $/atom:solvent[199]/O1 $/atom:solvent[199]/H2
$/bond:solvent[199]/2 @/bond:OPLSAA/42-43 $/atom:solvent[199]/O1 $/atom:solvent[199]/H3
$/bond:solvent[200]/1 @/bond:OPLSAA/42-43 $/atom:solvent[200]/O1 $/atom:solvent[200]/H2
$/bond:solvent[200]/2 @/bond:OPLSAA/42-43 $/atom:solvent[200]/O1 $/atom:solvent[200]/H3
$/bond:solvent[201]/1 @/bond:OPLSAA/42-43 $/atom:solvent[201]/O1 $/atom:solvent[201]/H2
$/bond:solvent[201]/2 @/bond:OPLSAA/42-43 $/atom:solvent[201]/O1 $/atom:solvent[201]/H3
$/bond:solvent[202]/1 @/bond:OPLSAA/42-43 $/atom:solvent[202]/O1 $/atom:solvent[202]/H2
$/bond:solvent[202]/2 @/bond:OPLSAA/42-43 $/atom:solvent[202]/O1 $/atom:solvent[202]/H3
$/bond:solvent[203]/1 @/bond:OPLSAA/42-43 $/atom:solvent[203]/O1 $/atom:solvent[203]/H2
$/bond:solvent[203]/2 @/bond:OPLSAA/42-43 $/atom:solvent[203]/O1 $/atom:solvent[203]/H3
$/bond:solvent[204]/1 @/bond:OPLSAA/42-43 $/atom:solvent[204]/O1 $/atom:solvent[204]/H2
$/bond:solvent[204]/2 @/bond:OPLSAA/42-43 $/atom:solvent[204]/O1 $/atom:solvent[204]/H3
$/bond:solvent[205]/1 @/bond:OPLSAA/42-43 $/atom:solvent[205]/O1 $/atom:solvent[205]/H2
$/bond:solvent[205]/2 @/bond:OPLSAA/42-43 $/atom:solvent[205]/O1 $/atom:solvent[205]/H3
$/bond:solvent[206]/1 @/bond:OPLSAA/42-43 $/atom:solvent[206]/O1 $/atom:solvent[206]/H2
$/bond:solvent[206]/2 @/bond:OPLSAA/42-43 $/atom:solvent[206]/O1 $/atom:solvent[206]/H3
$/bond:solvent[207]/1 @/bond:OPLSAA/42-43 $/atom:solvent[207]/O1 $/atom:solvent[207]/H2
$/bond:solvent[207]/2 @/bond:OPLSAA/42-43 $/atom:solvent[207]/O1 $/atom:solvent[207]/H3
$/bond:solvent[208]/1 @/bond:OPLSAA/42-43 $/atom:solvent[208]/O1 $/atom:solvent[208]/H2
$/bond:solvent[208]/2 @/bond:OPLSAA/42-43 $/atom:solvent[208]/O1 $/atom:solvent[208]/H3
$/bond:solvent[209]/1 @/bond:OPLSAA/42-43 $/atom:solvent[209]/O1 $/atom:solvent[209]/H2
$/bond:solvent[209]/2 @/bond:OPLSAA/42-43 $/atom:solvent[209]/O1 $/atom:solvent[209]/H3
$/bond:solvent[210]/1 @/bond:OPLSAA/42-43 $/atom:solvent[210]/O1 $/atom:solvent[210]/H2
$/bond:solvent[210]/2 @/bond:OPLSAA/42-43 $/atom:solvent[210]/O1 $/atom:solvent[210]/H3
$/bond:solvent[211]/1 @/bond:OPLSAA/42-43 $/atom:solvent[211]/O1 $/atom:solvent[211]/H2
$/bond:solvent[211]/2 @/bond:OPLSAA/42-43 $/atom:solvent[211]/O1 $/atom:solvent[211]/H3
$/bond:solvent[212]/1 @/bond:OPLSAA/42-43 $/atom:solvent[212]/O1 $/atom:solvent[212]/H2
$/bond:solvent[212]/2 @/bond:OPLSAA/42-43 $/atom:solvent[212]/O1 $/atom:solvent[212]/H3
$/bond:solvent[213]/1 @/bond:OPLSAA/42-43 $/atom:solvent[213]/O1 $/atom:solvent[213]/H2
$/bond:solvent[213]/2 @/bond:OPLSAA/42-43 $/atom:solvent[213]/O1 $/atom:solvent[213]/H3
$/bond:solvent[214]/1 @/bond:OPLSAA/42-43 $/atom:solvent[214]/O1 $/atom:solvent[214]/H2
$/bond:solvent[214]/2 @/bond:OPLSAA/42-43 $/atom:solvent[214]/O1 $/atom:solvent[214]/H3
$/bond:solvent[215]/1 @/bond:OPLSAA/42-43 $/atom:solvent[215]/O1 $/atom:solvent[215]/H2
$/bond:solvent[215]/2 @/bond:OPLSAA/42-43 $/atom:solvent[215]/O1 $/atom:solvent[215]/H3
$/bond:solvent[216]/1 @/bond:OPLSAA/42-43 $/atom:solvent[216]/O1 $/atom:solvent[216]/H2
$/bond:solvent[216]/2 @/bond:OPLSAA/42-43 $/atom:solvent[216]/O1 $/atom:solvent[216]/H3
$/bond:solvent[217]/1 @/bond:OPLSAA/42-43 $/atom:solvent[217]/O1 $/atom:solvent[217]/H2
$/bond:solvent[217]/2 @/bond:OPLSAA/42-43 $/atom:solvent[217]/O1 $/atom:solvent[217]/H3
$/bond:solvent[218]/1 @/bond:OPLSAA/42-43 $/atom:solvent[218]/O1 $/atom:solvent[218]/H2
$/bond:solvent[218]/2 @/bond:OPLSAA/42-43 $/atom:solvent[218]/O1 $/atom:solvent[218]/H3
$/bond:solvent[219]/1 @/bond:OPLSAA/42-43 $/atom:solvent[219]/O1 $/atom:solvent[219]/H2
$/bond:solvent[219]/2 @/bond:OPLSAA/42-43 $/atom:solvent[219]/O1 $/atom:solvent[219]/H3
$/bond:solvent[220]/1 @/bond:OPLSAA/42-43 $/atom:solvent[220]/O1 $/atom:solvent[220]/H2
$/bond:solvent[220]/2 @/bond:OPLSAA/42-43 $/atom:solvent[220]/O1 $/atom:solvent[220]/H3
$/bond:solvent[221]/1 @/bond:OPLSAA/42-43 $/atom:solvent[221]/O1 $/atom:solvent[221]/H2
$/bond:solvent[221]/2 @/bond:OPLSAA/42-43 $/atom:solvent[221]/O1 $/atom:solvent[221]/H3
$/bond:solvent[222]/1 @/bond:OPLSAA/42-43 $/atom:solvent[222]/O1 $/atom:solvent[222]/H2
$/bond:solvent[222]/2 @/bond:OPLSAA/42-43 $/atom:solvent[222]/O1 $/atom:solvent[222]/H3
$/bond:solvent[223]/1 @/bond:OPLSAA/42-43 $/atom:solvent[223]/O1 $/atom:solvent[223]/H2
$/bond:solvent[223]/2 @/bond:OPLSAA/42-43 $/atom:solvent[223]/O1 $/atom:solvent[223]/H3
$/bond:solvent[224]/1 @/bond:OPLSAA/42-43 $/atom:solvent[224]/O1 $/atom:solvent[224]/H2
$/bond:solvent[224]/2 @/bond:OPLSAA/42-43 $/atom:solvent[224]/O1 $/atom:solvent[224]/H3
$/bond:solvent[225]/1 @/bond:OPLSAA/42-43 $/atom:solvent[225]/O1 $/atom:solvent[225]/H2
$/bond:solvent[225]/2 @/bond:OPLSAA/42-43 $/atom:solvent[225]/O1 $/atom:solvent[225]/H3
$/bond:solvent[226]/1 @/bond:OPLSAA/42-43 $/atom:solvent[226]/O1 $/atom:solvent[226]/H2
$/bond:solvent[226]/2 @/bond:OPLSAA/42-43 $/atom:solvent[226]/O1 $/atom:solvent[226]/H3
$/bond:solvent[227]/1 @/bond:OPLSAA/42-43 $/atom:solvent[227]/O1 $/atom:solvent[227]/H2
$/bond:solvent[227]/2 @/bond:OPLSAA/42-43 $/atom:solvent[227]/O1 $/atom:solvent[227]/H3
$/bond:solvent[228]/1 @/bond:OPLSAA/42-43 $/atom:solvent[228]/O1 $/atom:solvent[228]/H2
$/bond:solvent[228]/2 @/bond:OPLSAA/42-43 $/atom:solvent[228]/O1 $/atom:solvent[228]/H3
$/bond:solvent[229]/1 @/bond:OPLSAA/42-43 $/atom:solvent[229]/O1 $/atom:solvent[229]/H2
$/bond:solvent[229]/2 @/bond:OPLSAA/42-43 $/atom:solvent[229]/O1 $/atom:solvent[229]/H3
$/bond:solvent[230]/1 @/bond:OPLSAA/42-43 $/atom:solvent[230]/O1 $/atom:solvent[230]/H2
$/bond:solvent[230]/2 @/bond:OPLSAA/42-43 $/atom:solvent[230]/O1 $/atom:solvent[230]/H3
$/bond:solvent[231]/1 @/bond:OPLSAA/42-43 $/atom:solvent[231]/O1 $/atom:solvent[231]/H2
$/bond:solvent[231]/2 @/bond:OPLSAA/42-43 $/atom:solvent[231]/O1 $/atom:solvent[231]/H3
$/bond:solvent[232]/1 @/bond:OPLSAA/42-43 $/atom:solvent[232]/O1 $/atom:solvent[232]/H2
$/bond:solvent[232]/2 @/bond:OPLSAA/42-43 $/atom:solvent[232]/O1 $/atom:solvent[232]/H3
$/bond:solvent[233]/1 @/bond:OPLSAA/42-43 $/atom:solvent[233]/O1 $/atom:solvent[233]/H2
$/bond:solvent[233]/2 @/bond:OPLSAA/42-43 $/atom:solvent[233]/O1 $/atom:solvent[233]/H3
$/bond:solvent[234]/1 @/bond:OPLSAA/42-43 $/atom:solvent[234]/O1 $/atom:solvent[234]/H2
$/bond:solvent[234]/2 @/bond:OPLSAA/42-43 $/atom:solvent[234]/O1 $/atom:solvent[234]/H3
$/bond:solvent[235]/1 @/bond:OPLSAA/42-43 $/atom:solvent[235]/O1 $/atom:solvent[235]/H2
$/bond:solvent[235]/2 @/bond:OPLSAA/42-43 $/atom:solvent[235]/O1 $/atom:solvent[235]/H3
$/bond:solvent[236]/1 @/bond:OPLSAA/42-43 $/atom:solvent[236]/O1 $/atom:solvent[236]/H2
$/bond:solvent[236]/2 @/bond:OPLSAA/42-43 $/atom:solvent[236]/O1 $/atom:solvent[236]/H3
$/bond:solvent[237]/1 @/bond:OPLSAA/42-43 $/atom:solvent[237]/O1 $/atom:solvent[237]/H2
$/bond:solvent[237]/2 @/bond:OPLSAA/42-43 $/atom:solvent[237]/O1 $/atom:solvent[237]/H3
$/bond:solvent[238]/1 @/bond:OPLSAA/42-43 $/atom:solvent[238]/O1 $/atom:solvent[238]/H2
$/bond:solvent[238]/2 @/bond:OPLSAA/42-43 $/atom:solvent[238]/O1 $/atom:solvent[238]/H3
$/bond:solvent[239]/1 @/bond:OPLSAA/42-43 $/atom:solvent[239]/O1 $/atom:solvent[239]/H2
$/bond:solvent[239]/2 @/bond:OPLSAA/42-43 $/atom:solvent[239]/O1 $/atom:solvent[239]/H3
$/bond:solvent[240]/1 @/bond:OPLSAA/42-43 $/atom:solvent[240]/O1 $/atom:solvent[240]/H2
$/bond:solvent[240]/2 @/bond:OPLSAA/42-43 $/atom:solvent[240]/O1 $/atom:solvent[240]/H3
$/bond:solvent[241]/1 @/bond:OPLSAA/42-43 $/atom:solvent[241]/O1 $/atom:solvent[241]/H2
$/bond:solvent[241]/2 @/bond:OPLSAA/42-43 $/atom:solvent[241]/O1 $/atom:solvent[241]/H3
$/bond:solvent[242]/1 @/bond:OPLSAA/42-43 $/atom:solvent[242]/O1 $/atom:solvent[242]/H2
$/bond:solvent[242]/2 @/bond:OPLSAA/42-43 $/atom:solvent[242]/O1 $/atom:solvent[242]/H3
$/bond:solvent[243]/1 @/bond:OPLSAA/42-43 $/atom:solvent[243]/O1 $/atom:solvent[243]/H2
$/bond:solvent[243]/2 @/bond:OPLSAA/42-43 $/atom:solvent[243]/O1 $/atom:solvent[243]/H3
$/bond:solvent[244]/1 @/bond:OPLSAA/42-43 $/atom:solvent[244]/O1 $/atom:solvent[244]/H2
$/bond:solvent[244]/2 @/bond:OPLSAA/42-43 $/atom:solvent[244]/O1 $/atom:solvent[244]/H3
$/bond:solvent[245]/1 @/bond:OPLSAA/42-43 $/atom:solvent[245]/O1 $/atom:solvent[245]/H2
$/bond:solvent[245]/2 @/bond:OPLSAA/42-43 $/atom:solvent[245]/O1 $/atom:solvent[245]/H3
$/bond:solvent[246]/1 @/bond:OPLSAA/42-43 $/atom:solvent[246]/O1 $/atom:solvent[246]/H2
$/bond:solvent[246]/2 @/bond:OPLSAA/42-43 $/atom:solvent[246]/O1 $/atom:solvent[246]/H3
$/bond:solvent[247]/1 @/bond:OPLSAA/42-43 $/atom:solvent[247]/O1 $/atom:solvent[247]/H2
$/bond:solvent[247]/2 @/bond:OPLSAA/42-43 $/atom:solvent[247]/O1 $/atom:solvent[247]/H3
$/bond:solvent[248]/1 @/bond:OPLSAA/42-43 $/atom:solvent[248]/O1 $/atom:solvent[248]/H2
$/bond:solvent[248]/2 @/bond:OPLSAA/42-43 $/atom:solvent[248]/O1 $/atom:solvent[248]/H3
$/bond:solvent[249]/1 @/bond:OPLSAA/42-43 $/atom:solvent[249]/O1 $/atom:solvent[249]/H2
$/bond:solvent[249]/2 @/bond:OPLSAA/42-43 $/atom:solvent[249]/O1 $/atom:solvent[249]/H3
$/bond:solvent[250]/1 @/bond:OPLSAA/42-43 $/atom:solvent[250]/O1 $/atom:solvent[250]/H2
$/bond:solvent[250]/2 @/bond:OPLSAA/42-43 $/atom:solvent[250]/O1 $/atom:solvent[250]/H3
$/bond:solvent[251]/1 @/bond:OPLSAA/42-43 $/atom:solvent[251]/O1 $/atom:solvent[251]/H2
$/bond:solvent[251]/2 @/bond:OPLSAA/42-43 $/atom:solvent[251]/O1 $/atom:solvent[251]/H3
$/bond:solvent[252]/1 @/bond:OPLSAA/42-43 $/atom:solvent[252]/O1 $/atom:solvent[252]/H2
$/bond:solvent[252]/2 @/bond:OPLSAA/42-43 $/atom:solvent[252]/O1 $/atom:solvent[252]/H3
$/bond:solvent[253]/1 @/bond:OPLSAA/42-43 $/atom:solvent[253]/O1 $/atom:solvent[253]/H2
$/bond:solvent[253]/2 @/bond:OPLSAA/42-43 $/atom:solvent[253]/O1 $/atom:solvent[253]/H3
$/bond:solvent[254]/1 @/bond:OPLSAA/42-43 $/atom:solvent[254]/O1 $/atom:solvent[254]/H2
$/bond:solvent[254]/2 @/bond:OPLSAA/42-43 $/atom:solvent[254]/O1 $/atom:solvent[254]/H3
$/bond:solvent[255]/1 @/bond:OPLSAA/42-43 $/atom:solvent[255]/O1 $/atom:solvent[255]/H2
$/bond:solvent[255]/2 @/bond:OPLSAA/42-43 $/atom:solvent[255]/O1 $/atom:solvent[255]/H3
$/bond:solvent[256]/1 @/bond:OPLSAA/42-43 $/atom:solvent[256]/O1 $/atom:solvent[256]/H2
$/bond:solvent[256]/2 @/bond:OPLSAA/42-43 $/atom:solvent[256]/O1 $/atom:solvent[256]/H3
$/bond:solvent[257]/1 @/bond:OPLSAA/42-43 $/atom:solvent[257]/O1 $/atom:solvent[257]/H2
$/bond:solvent[257]/2 @/bond:OPLSAA/42-43 $/atom:solvent[257]/O1 $/atom:solvent[257]/H3
$/bond:solvent[258]/1 @/bond:OPLSAA/42-43 $/atom:solvent[258]/O1 $/atom:solvent[258]/H2
$/bond:solvent[258]/2 @/bond:OPLSAA/42-43 $/atom:solvent[258]/O1 $/atom:solvent[258]/H3
$/bond:solvent[259]/1 @/bond:OPLSAA/42-43 $/atom:solvent[259]/O1 $/atom:solvent[259]/H2
$/bond:solvent[259]/2 @/bond:OPLSAA/42-43 $/atom:solvent[259]/O1 $/atom:solvent[259]/H3
$/bond:solvent[260]/1 @/bond:OPLSAA/42-43 $/atom:solvent[260]/O1 $/atom:solvent[260]/H2
$/bond:solvent[260]/2 @/bond:OPLSAA/42-43 $/atom:solvent[260]/O1 $/atom:solvent[260]/H3
$/bond:solvent[261]/1 @/bond:OPLSAA/42-43 $/atom:solvent[261]/O1 $/atom:solvent[261]/H2
$/bond:solvent[261]/2 @/bond:OPLSAA/42-43 $/atom:solvent[261]/O1 $/atom:solvent[261]/H3
$/bond:solvent[262]/1 @/bond:OPLSAA/42-43 $/atom:solvent[262]/O1 $/atom:solvent[262]/H2
$/bond:solvent[262]/2 @/bond:OPLSAA/42-43 $/atom:solvent[262]/O1 $/atom:solvent[262]/H3
$/bond:solvent[263]/1 @/bond:OPLSAA/42-43 $/atom:solvent[263]/O1 $/atom:solvent[263]/H2
$/bond:solvent[263]/2 @/bond:OPLSAA/42-43 $/atom:solvent[263]/O1 $/atom:solvent[263]/H3
$/bond:solvent[264]/1 @/bond:OPLSAA/42-43 $/atom:solvent[264]/O1 $/atom:solvent[264]/H2
$/bond:solvent[264]/2 @/bond:OPLSAA/42-43 $/atom:solvent[264]/O1 $/atom:solvent[264]/H3
$/bond:solvent[265]/1 @/bond:OPLSAA/42-43 $/atom:solvent[265]/O1 $/atom:solvent[265]/H2
$/bond:solvent[265]/2 @/bond:OPLSAA/42-43 $/atom:solvent[265]/O1 $/atom:solvent[265]/H3
$/bond:solvent[266]/1 @/bond:OPLSAA/42-43 $/atom:solvent[266]/O1 $/atom:solvent[266]/H2
$/bond:solvent[266]/2 @/bond:OPLSAA/42-43 $/atom:solvent[266]/O1 $/atom:solvent[266]/H3
